[2016-10-11 14:24] Okipa opened #2 "Warning on mode 'datetime'"
Hi there,

First, thanx for your package that saved me a lot of time !
I just would like to report you a warning that appears when I set the 'datetime' mode :
`Warning: Failed prop type: Invalid prop `mode` of value `datetime` supplied to `CustomDatePickerIOS`, expected one of ["date","time"].`
I think it would be easy to correct.

[2016-10-11 14:45] mmazzarolo commented on #2
Hey @Okipa, thank you!
Should be fixed in `react-native-modal-datetime-picker@1.1.1`, let me know if it works correctly now 👍

[2016-10-12 08:59] Okipa commented on #2
Perfect, it works fine without any warning now. Thanx !

[2016-10-12 08:59] #2 closed

[2016-10-12 09:28] Okipa opened #3 "iOS title and buttons style personnalization"
Hey mmazzarolo,
Your package is working very fine and it globally looks pretty, especially on Android.
On iOS, title and buttons are not customizable and it would be great to have the possibility to change the font color and size of the title and the confirm and cancel buttons for example. The background color of the modals could be great to custom too !

**Native iOS modal**
![Image of Yaktocat](

[2016-10-12 12:21] mmazzarolo commented on #3
@Okipa thank you for this well documented issue 👍

If everybody could customize this, that would be awesome (and your package would become perfect ;) )

I'm with you on this, more customizations + nice defaults = ❤️
I'm planning to make this component even more customizable, but at the moment I'd like to focus a bit more on [react-native-animated-modal](https://github.com/mmazzarolo/react-native-a

[2016-10-12 19:46] mmazzarolo commented on #3
Hey @Okipa !
In the end I had to edit a bit your pull request #4: you can now provide a component for the title, for the two buttons (they will be wrapped in a `TouchableOpacity` and for the DatePickerIOS container style.
I had to do so because:
1. There were some minor issues with the linting
2. I'd like to keep the IOS component more similar to ActionSheetIOS than to a real modal/dialog
3. It's

[2016-10-16 12:09] Okipa commented on #3
Sorry for the late answer, I was working on a Web project these last days. I test your new version tomorrow !

[2016-10-23 16:40] itcurves opened #5 "how to show date and time?"
I was trying to change the mode prop to 'datetime' but it is not working, how I can show date and time, and I am talking about both iphone and ios.

Thank you

[2016-10-24 10:02] mmazzarolo commented on #5
Hi!
What do mean by 'not working'? Let me know :)

[2016-10-24 10:30] itcurves commented on #5
I want datetime both for selection, it looks like it shows the date and time but with this:

ExceptionsManager.js:78 Warning: Failed prop type: Invalid prop `mode` of value `datetime` supplied to `CustomDatePickerIOS`, expected one of ["date","time"].

[2016-10-24 17:23] mmazzarolo commented on #5
I just tried It and it is working correctly for me.
Please make sure you're using the latest version: `npm install --save react-native-modal-datetime-picker@2.0.3`.

Let me know if it works :)

![simulator screen shot 24 ott 2016 19 21 58](https://cloud.githubusercontent.com/assets/9536354/19656169/25783220-9a1f-11e6-84a3-3c7b308c7ff8.png)

[2016-10-24 17:23] mmazzarolo commented on #3
@Okipa I'm closing the issue, feel free to re-open if you have any issue with the new release 👍

[2016-10-24 17:23] #3 closed

[2016-10-24 22:28] itcurves commented on #5
@mmazzarolo Thank you so much I was accidentally using a lot older version.

Thank you

[2016-10-25 13:35] Okipa commented on #3
I just tested your new version, I have found some issues/questions :
- there is no modal background anymore when we call the datepicker => it could be great to have the possiblity to set your animated background-color.
- if I want to include a custom confirm button, how to manipulate the date the datepicker have just set ?

[2016-10-25 15:30] mmazzarolo commented on #3
are you using the last version? I tried it just yesterday (in the example dir) and it was working fine.

yep, [the component that handles the modal already has a prop for that](https://github.com/mmazzarolo/react-native-animated-modal), I can easily add something like `modalProps` if you want 👍

Can you give me a concrete example? Can't you just react in the `onConfirm` trigger?

You can customize

[2016-10-25 16:30] #5 closed

[2016-10-26 12:26] Okipa commented on #3
I have installed the 1.3.0 version, removed my node_modules, clean react and npm cache, reinstalled npm dependencies and have inserted your datepicker as below (the same implementation as before)and I do not have any modal backdrop ...
[code]
By the way, the `isVisible` attribute precised in your readme has not been updated => it is `visible` now.

About the custom components, they are currently n

[2016-10-26 13:04] mmazzarolo commented on #3
Wait! the last version published on npm is [2.0.3](https://www.npmjs.com/package/react-native-modal-datetime-picker), not 1.30.
You're still on the older version ☂️

Please [take a look at the code](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js): as you can see the `isVisible` prop is named correctly and the custom button are wrapped

[2016-10-26 14:11] Okipa commented on #3
Woooot, I was sure to install the latest version ! I just reinstalled your package with the tag @latest and everything is working well !
Pfiuuu, sorry for that ^^

[2016-10-26 14:30] mmazzarolo commented on #3
no worries man! 👍

[2016-11-07 20:07] RailtonMatthew opened #7 "Dialog displays multiple times in list view"
I'm trying to use the datetime picker in the list view to changes the dates on each row.  However when a row is clicked the dialog is shown multiple time (for each row) and the first row it does not show at all.

Below is some example code that shows the problem.  I may just be doing it wrong. :)

[code]

[2016-11-07 21:15] mmazzarolo commented on #7
Hi!
First of all, you should have only a single picker here (just put it in the `render`, after the rows):
[code]
Also, any reason you're not using a listview instead of the scrollview? :)

[2016-11-07 22:15] RailtonMatthew commented on #7
With a single picker how can I set the default date for each row?  I will have a long list so want to be able to scroll.

Railton.

[2016-11-08 07:23] geekvijay opened #8 "Suggestions: Creating common Props for android and ios"
We have to use different Props name for Android and IOS.

**Android:**
1) minDateAndroid
2) maxDateAndroid

**IOS:**
1) minimumDate
2) maximumDate

Can we create common property for this like we can use only minimumDate and maximumDate for both Android and IOS.

[2016-11-08 08:15] mmazzarolo commented on #8
Hey @geekvijay, seems nice :)
Are you able to make a pull request on this matter? It shouldn't be too complex.
Otherwise I can take a look at it in my free time.

[2016-11-08 08:24] mmazzarolo commented on #7
FYI, this is not really related to the component itself, it is a "react" question 👍

Anyway, your best option in my opinion is to set the `DateTimePicker` date dynamically before showing it.
For example you can add to the state a variable with the date being edited:
[code]

And act before showing/hiding the component:
[code]

However you should really take a look at the react-native official listv

[2016-11-08 09:52] RailtonMatthew commented on #7
Thanks Matteo, that works!  I will look into the use of listview.

Railton.

[2016-11-08 09:52] #7 closed

[2016-11-08 10:13] mmazzarolo commented on #7
Glad it worked :)

[2016-11-10 10:02] geekvijay opened #9 "Bug: Some Weird Behaviour"
When we set picked date in state, and if we try to get the date from state it give old date instead of picked date.

[code]

[2016-11-10 10:03] geekvijay commented on #8
Let me try and then i will send pull request.

[2016-11-10 11:11] geekvijay commented on #9
One more this wired behavior is with ios only, it works great with android.

[2016-11-10 11:44] #9 closed

[2016-11-10 18:54] geekvijay commented on #8
@mmazzarolo i have created the pull request for this issue 😄

[2016-11-10 19:17] mmazzarolo commented on #9
:octocat:

[2016-11-10 19:19] mmazzarolo commented on #8
Yep, thanks you man!

[2016-11-10 19:19] #8 closed

[2017-01-18 09:32] priyesh9875 opened #13 "How to open both date and time picker?"
For me only date picker modal open, no time picker.
I followed same code as in example.

Android 6
I am using ` react-native-modal-datetime-picker: "^3.0.1",`

[2017-01-18 09:52] priyesh9875 commented on #13
I missed `mode` option.

Whats the default timezone?

[2017-01-18 09:52] #13 closed

[2017-01-20 15:55] jamieparkinson commented on #9
@geekvijay Did you find any solution to this issue? And/or any issues elsewhere for the underlying bug

[2017-02-02 10:53] kalanaw opened #14 "[Question]: How to set different date/times to the picker each time I show it?"
I'm reusing the picker for multiple fields in my screen. I want to set different default times for the picker each time i show it. Setting the 'date' prop doesn't seems to help as the picker always shows user's last selection. Any thoughts?

[2017-02-02 11:31] mmazzarolo commented on #14
Hey!
I proposed a solution to a similar problem in #7: it should work for you too, let me know :)

[2017-02-08 20:39] temitope opened #15 "Getting date value after custom confirm button"
First, thanks for the great module.

I am trying to use the custom confirm button option so I create a Button like so
[code]

the problem is that the onPress function doesn't seem to receive the selected date value in the same way that the built-in confirm button passes it along. I tried setting  ref for the DateTimePicker to simply grab it from the function but I not sure what the path to its val

[2017-02-08 21:03] mmazzarolo commented on #14
Closing, feel free to re-open if needed.

[2017-02-08 21:03] #14 closed

[2017-02-08 21:07] mmazzarolo commented on #15
Hey @temitope,
ad you can see [here](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js#L70) I'm already wrapping your custom button with a `TouchableOpacity`.
This means that you should remove your `onPress` prop from your component and simply use the `onConfirm` prop just like you'll do wit the build-in confirm button.
Let me know if it

[2017-02-08 21:46] temitope commented on #15
ahh yes, that makes sense. but im still not getting the desired behavior. It may be because I am using the Button component from the  [https://github.com/react-native-community/react-native-elements](react-native-elements module? [ https://github.com/react-native-community/react-native-elements) ]

I am getting a debug message of

from line 12 in the Button.js of that module...hmm i shouldnt need

[2017-02-08 22:06] mmazzarolo commented on #15
First of all: yes, that log line is indeed caused by the button you're using.
Honestly I didn't understand you question regarding `customCancelButton` 🤔 ...

Basically both `customCancelButtonIOS` and `customConfirmButtonIOS` are simple views that you can pass to `react-native-datetime-picker` and they will trigger `onCancel`/ `onConfirm` when pressed.
The button press interactions are handled int

[2017-02-08 22:28] temitope commented on #15
Boom! Passing in a simple View with some text did the job. Thanks for the help there.

this is maybe moot now, but to give more clarity regarding the `customCancelButton`, i was saying that I was able to actually pass an event to the onPress handler using that react-native-element button and have everything worked just fine, but doing the same with the confirmation button didnt work so i didnt sus

[2017-02-08 22:28] #15 closed

[2017-02-08 22:39] mmazzarolo commented on #15
Glad it worked.

Probably because the cancel button doesn't return any parameter (so you can handle it even without the `onCancel`), while the confirm button returns the time (that is handled by `onConfirm`).

[2017-02-13 04:19] ChristianTucker opened #16 "DatePickerIOS minuteInterval prop doesn't work."
[code]

Should display 00, 15, 30, 45 for the minutes, but instead shows 0-59

[2017-02-13 04:56] temitope commented on #16
@ChristianTucker the property takes a number rather than string value.
try this
`minuteInterval={15}`

[2017-02-13 05:19] ChristianTucker commented on #16
Whoops, I'm sorry. It doesn't work as a number either, the String value was just me trying to see if it wanted a string or not. I copied the wrong snippet into my issue! It doesn't work with the number, throws an error with the string.

________________________________
From: Temitope <notifications@github.com>
Sent: Sunday, February 12, 2017 8:56 PM
To: mmazzarolo/react-native-modal-datetime-picke

[2017-02-13 06:17] temitope commented on #16
Hmm. It worked for me when putting brackets around the number. Can you paste your code and the error here?

[2017-02-13 08:12] mmazzarolo commented on #16
Thanks @temitope for answering.
@ChristianTucker if it is a DatePickerIOS prop (and it is) and you set it correctly it should work because this component just applies it directly to the DatePicketIOS.
What version of React-Native are you using? Are you sure `minuteInterval` is available in it?

[2017-02-13 08:45] ChristianTucker commented on #16
[code]

There is no error, the picker just allows me to select from minutes ranging 0-59, instead of only [0,15,30,45]

I'm using RN 0.40

[2017-02-13 09:13] mmazzarolo commented on #16
@ChristianTucker could you try and see if it works with the standard `DatePickerIOS`?
Seems weird though because as you can see from [this line](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js#L68) I'm simply passing all the other props to `DatePickerIOS`.
Also, can you paste here the entire code you're using?
Thanks!

[2017-02-13 09:36] ChristianTucker commented on #16
@mmazzarolo

Here's a complete executable example:

[code]

Please see the `componentDidMount()` call that sets the state of `minInterval` this is a "hack" that's required since commit [002024cc456246761421f6e5c354466baa819843](https://github.com/facebook/react-native/commit/002024cc456246761421f6e5c354466baa819843) in the React-native codebase to allow `<DatePickerIOS />` to display the minuteInt

[2017-02-13 09:44] mmazzarolo commented on #16
I wasn't aware of that hack, it is probably the cause of the issue.

I can't try it right now, but could you try changing this:
[code]

to this:
[code]

Just to see if it is related to the lifecycle of `react-native-modal-datetime-picker`?

Anyway, if it is a react-native issue (and it is if it requires an hack like this), in my opinion It should be fixed on the react-native side first.  🤔

[2017-02-13 09:57] ChristianTucker commented on #16
@mmazzarolo  Did not fix the issue, also while I agree with you, this bug has persisted for over 7 months now, while being known about, and it's common for things in react-native to not be fixed unless Facebook needs to fix it for one of their apps. (Straight from the fingers of the Facebook developers) or a PR to fix the issue.

I tried fixing/hacking the issue through cloning the repository, but

[2017-02-13 09:59] mmazzarolo commented on #16
Thank you for giving it a try and for pointing us to the issue 👍

[2017-02-14 18:59] temitope commented on #16
@ChristianTucker whoops! you were totally right. I changed the code and in hotloading mode and it updated the timer in front of my face, but when i reopened that component normally the minute interval was not being applied. but knowing that it worked in hotloading i tried it out with a very hacky/imperative/unsightly `setTimeout` of about **500ms** and it worked. will try with smaller wait time to

[2017-02-14 19:09] temitope commented on #16
nix that. @ChristianTucker  doesnt work on multiple opens...

[2017-02-15 21:30] SudoPlz opened #17 "Will the 24h format be supported in the iOS time picker any time soon?"
I really need this.

[2017-02-15 21:30] SudoPlz commented on #17
Ok I've posted about this here too:
https://github.com/facebook/react-native/issues/12405

That might help others looking for this.

[2017-02-15 21:34] mmazzarolo commented on #17
I'm sorry man, this component use react-native's own implementation of the datetime picker, so it must be implemented on it first.
I'm closing the issue, feel free to re-open if needed.

[2017-02-15 21:34] #17 closed

[2017-02-15 22:30] SudoPlz commented on #17
You're right..! Roger that.

[2017-02-20 06:34] solitaire12 opened #19 "not easy to change year in date mode on android"
i find it not easy to change year on android system, eg, from current date to 2000 , i have to click many times, it's a bad user experience.

[2017-02-20 06:38] #19 closed

[2017-02-20 06:39] solitaire12 commented on #19
CLICK the top 2016,lol

[2017-02-22 07:08] samuelltk opened #20 "How to support landscape orientation for my view??"
How to support landscape orientation for this component?

hello @mmazzarolo,
update:
I use your examples, first, let mobile phone in landscape state, your examples app will be in a horizontal screen, and then click 'Show  TimePicker', at this time, app forced change to vertical orientation when show TimePicker...and ui will show the issure.

[2017-02-22 07:09] samuelltk commented on #20
@mmazzarolo

[2017-02-22 07:53] mmazzarolo commented on #20
Hello @samuelltk
Could you be a bit more specific?
What are you trying to achieve?
Did you already write some code regarding this issue?

[The container modal](https://github.com/mmazzarolo/react-native-animated-modal) should already resize itself correctly after a device rotation.
I don't know if the native pickers (DatePickerIOS / DatePickerAndroid / TimePickerAndroid) support the device rotatio

[2017-02-22 09:14] bitsal opened #21 "iOS datetime picker keeps previous date"
My situation:
1. A form has your datetime picker field.
2. When I open the form set time and submit the form.
3. Open the form again with changed time (default value is used).
4. But when you open datetime picker old value is there.

I've reviewed code in https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js and noticed that there is no any c

[2017-02-22 09:20] mmazzarolo commented on #21
I recently merged PR #18 that should address you issue.
I haven't pushed it to NPM yet, would you mind trying it?
The best way to try it is pulling the library from the Master branch.
Alternatively, simply copy-paste the content of [this file](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS) in your `node_modules/react-native-modal-datetime-pick

[2017-02-22 09:29] bitsal commented on #21
@mmazzarolo thank you, I can prove that your fix works. Looking forward to new version.

[2017-02-22 09:30] mmazzarolo commented on #21
Cool! Can you also give it a try at the Android version?  If it work correctly I'll release the version soon this evening :)

[2017-02-22 09:46] bitsal commented on #21
I see there is only this fix from 3.0.1 version. I don't think it can break Android somehow due to you have different components for iOS and Android.

BTW, I've checked it on Android. It seems to work as expected.

[2017-02-22 09:48] mmazzarolo commented on #21
My bad, I didn't wrote it correctly, I simply wanted to know if currently the Date gets updated correctly on Android too (it's important having platform parity!).
Thank you @bitsal, you should expect a next release soon 👍

[2017-02-22 09:48] #21 closed

[2017-02-22 09:52] bitsal commented on #21
Oh, I got it. Be calm the issue was only on iOS side, at least in our app.

[2017-02-22 19:23] mmazzarolo commented on #21
@bitsal landed in [release 4.0.0](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.0.0)

[2017-02-28 08:12] mmazzarolo commented on #20
@samuelltk closing, feel free to re-open if needed.

[2017-02-28 15:11] samuelltk commented on #20
@mmazzarolo please reopen this issure. tks.
Now, i just try again,,This issure is the same as last time...please help me, follow my step, you will see the issure on ios.  tks

[2017-03-18 17:26] obykoo opened #24 "Add license file?"
Hello,

 I would like to use it in my project ,but license file is missing here so I can not use it.
Thanks.

[2017-03-18 17:43] mmazzarolo commented on #24
Done! You can use it freely, have fun 👍

[2017-03-18 17:43] #24 closed

[2017-03-24 20:41] nolan-m opened #25 "Crashes iOS app when using debugger"
While using the in browser debugger with React Native, this library freezes up the iOS app when displaying the modal leading to crash.  I am using the example in the Usage section of the ReadMe.  Works fine when debugger is turned off.

[2017-03-24 23:41] mmazzarolo commented on #25
hi, it's a rn issue, fixed in rn 0.43 :)
https://github.com/facebook/react-native/issues/12747

[2017-03-24 23:41] #25 closed

[2017-03-28 06:56] HermitCarb opened #26 "Not work in "Remote JS Debug" mode"
Versions:
[code]

I just copy the code from READEME.md.
In "Remote JS Debug" mode, it don't work in simulator. The ```TouchableOpacity``` just keep highlight and nothing happens. When some other operations taked, it will crash. My iPhone(6s Plus, 10.2.1), same as simulator.

But not in "Remote JS Debug" mode, it works well both simulator and iPhone.

Edit: On android(SAMSUNG Galaxy S6, Android 5.1

[2017-03-28 07:35] mmazzarolo commented on #26
Hi @HermitCarb !
It is a known react-native issue #25, it is fixed in 0.43 :)

[2017-03-28 07:35] #26 closed

[2017-03-29 07:10] harishsn commented on #7
Hi This is not working.

if i click on the list item the time is still the same supplied by `new Date()` for all list items.  Component is not updating.

what did i miss?

Here is my code

[code]

[2017-04-01 06:51] joncursi opened #27 "react-native-animated-modal has been renamed to react-native-modal"
Yarn produces the following warning:

[code]

See: https://github.com/react-native-community/react-native-modal#warning

[2017-04-01 14:13] mmazzarolo commented on #27
Thanks for the issue but no worries, I'm maintaing react-native-modal too, so I'll update this lib soon :)

[2017-04-02 17:19] mmazzarolo commented on #27
Update on version `4.2.0` :)

[2017-04-02 17:19] #27 closed

[2017-04-07 22:13] cosmos-sajal opened #28 "Should have a functionality of AM/PM for timepicker."

[2017-04-09 04:53] rendomnet opened #29 "Android datetime picker change colors?"
Can we change colors of Android datetime picker?

[2017-04-10 12:06] mmazzarolo commented on #28
Hey!
You can use `is24Hour` for Android, while for iOS you should check if the native component exposes this feature [here](https://facebook.github.io/react-native/docs/datepickerios.html) (from a quick check it seems it doesn't support it yet).

[2017-04-10 12:06] #28 closed

[2017-04-10 12:10] mmazzarolo commented on #29
Hi there,
to style it on Android you should [tweak a bit the native code](https://github.com/facebook/react-native/issues/6571) :)

[2017-04-13 03:27] fangshifeng opened #30 "when mode props value is ‘date time’, to select ‘time’ and click cancel button would be invalid."
Solution: modify index.js

TimePickerAndroid.open(timeOptions).then(({action, minute, hour}) => {
            if (action === TimePickerAndroid.timeSetAction) {
              let selectedDate = new Date(year, month, day, hour, minute);
              this.props.onConfirm(selectedDate);
            } else {
              this.props.onCancel()
            }
          });

[2017-04-13 18:14] mmazzarolo commented on #30
Hey!
[I just commited a fix](https://github.com/mmazzarolo/react-native-modal-datetime-picker/commit/4181d27130d50b0b61422702293a19b389540d46), could you give it a shot and tell me if it works for you?
I'll push it to npm then :)
Thanks man!

[2017-04-14 09:58] bennygenel commented on #29
Hi @mmazzarolo;
I have sort of a problem about this. I changed colors on my theme on native code but it doesn't change your dialogs. If I use react-native DatePickerAndroid and TimePickerAndroid separately it works perfectly but doesn't change when I use yours.

Here is my style.xml

[code]

What do you think can cause this?

Thanks

[2017-04-17 01:37] fangshifeng commented on #30
very well！

[2017-04-17 08:43] mmazzarolo commented on #29
Hey @bennygenel,

If you're talking about react-native's own DatePickerAndroid it is a react-native issue indees.
Do you mind opening an issue on the react-native official repo? Feel free to link this issue if needed, I'll leave it open :)
Thank you!

[2017-04-17 09:07] bennygenel commented on #29
Hey @mmazzarolo;

Thanks for reopening the issue. I was wondering if it is possible to not provide a **mode** prop to the DatePickerAndroid if the **datePickerModeAndroid** prop is omited?

At least this way default DatePickerDialog can be styled correctly.

Thanks again

[2017-04-17 19:53] mmazzarolo commented on #29
Could you submit a PR (making sure that it doesn't break anything)?
I'll gladly merge it, but I'd also like to see the issue reported to the react-native official repo (I can do it when I have some spare time if you can't do it!).

Thanks! 👍

[2017-04-20 07:35] skyworld opened #31 "how can I change lang？"
I want to change English to chinese， how？

[2017-04-20 07:54] mmazzarolo commented on #31
Hi @skyworld,
this component uses React-Native's Android TimePicker/DatePicker APIs under the hood, and as far as I know the language of the pickers are handled by the language set on the device.

[2017-04-24 10:17] arabscimitar opened #32 "App crashes on minimumDate"
Setting minimum date crash app
[code]
this.state.dateFrom cames from another date picker
and the code was working before when I commented minimumDate every thing works fine

[2017-04-24 12:58] mmazzarolo commented on #32
Hi!
What version of RN are you using? Does the bug happens on both iOS and Android?
It sounds more like a bug of react-native's own pickers, could you try to use them and see if they work correctly?
Thanks!

[2017-04-24 12:59] mmazzarolo commented on #31
Hints on picker languages: https://github.com/facebook/react-native/issues/12405

[2017-04-24 12:59] #31 closed

[2017-04-24 13:41] arabscimitar commented on #32
Hi,
I use react native 0.43.3
it crashes on both android and ios
when i setted datePickerModeAndroid as spinner works fine on android
also the datePicker android works fine with both calendar and spinner with minDate
I didn't try it yet on ios after i setted datePickerModeAndroid

[2017-04-27 12:14] stephanedemotte commented on #32
same here on 0.43.4

<img width="367" alt="screen shot 2017-04-27 at 08 13 28" src="https://cloud.githubusercontent.com/assets/2158130/25482865/8ad226ba-2b21-11e7-82f4-f26dec572e3e.png">

[2017-04-27 14:12] mmazzarolo commented on #32
Does the following example work for you?
Here I'm setting `minimumDate` with the last picked date from the picker and it is working fine for me (iOS).  🤔

[code]

[2017-04-27 14:23] arabscimitar commented on #32
Try with setting maximumDate with minimumDate

[2017-04-27 14:24] arabscimitar commented on #32
my code works on ios and android  after i setted datePickerModeAndroid as spinner

[2017-04-27 15:50] mmazzarolo commented on #32
I did, it's working fine.

That's weird, because `datePickerModeAndroid` is not even checked by iOS, maybe it was a caching issue?

[2017-04-27 17:44] arabscimitar commented on #32
My code still gives error when I remove datePickerModeAndroid on android and ios
but I can't reproduce and I tried Your code is working fine
I tried it with resetting minimumDate dynamically and also work fine
so thank You a lot if You want You can close this issue

[2017-04-27 20:27] mmazzarolo commented on #32
Feel free to re-open if you'll be able to reproduce it!

[2017-04-27 20:27] #32 closed

[2017-04-29 14:07] roman2710 opened #33 "Android Time picker gives wrong time"
Android time picker gives the wrong time inputted as output.

I fixed this by editing line 81 of src/index.js

[code]

[2017-05-01 12:18] #33 closed

[2017-05-03 11:02] sossargsyan opened #34 "Android: datetime picker cancelText and confirmText props"
Hi Matteo,
I would like to use custom texts for "Confirm" and "Cancel" buttons in Android platform.
Is it possible?
Thanks!

[2017-05-03 11:12] mmazzarolo commented on #34
Hey @sossargsyan
This component is just a wrapper over [react-native's datePickerAndroid/timePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), so if you can change their text label button you'll be able to change the label of this component too.

Let me know if you need more info on the matter (I never changed them, but I guess you should take a look [here](https

[2017-05-03 11:12] #34 closed

[2017-05-08 17:00] iRoachie opened #36 "Typescript typings"
Interested in having typescript typings? For those using typescript with react native. I already started on it

[2017-05-08 17:43] mmazzarolo commented on #36
Hi!
Sure, if they don't break compatibility they're more than welcome (I don't use typescript).

[2017-05-08 17:43] #36 closed

[2017-05-10 02:20] lixiaobin0303 commented on #29
Android to get the date is not correct bad day

[2017-05-12 06:53] lixiaobin0303 opened #41 "How do I set the time and date for the different time zones?"
I didn't get the time with the local time. I think it's because of the time zone problem. How can I solve it? Thank you

[2017-05-12 07:23] mmazzarolo commented on #41
Hi!
This component uses React-Native's Android TimePicker/DatePicker APIs under the hood, and as far as I know the timezone of the pickers are handled by them directly.
I suggest you to check if React-Native's Android TimePicker/DatePicker APIs return the right dates.
If they still have a wrong timezone you should open an issue on the [React Native repo](https://github.com/facebook/react-native/is

[2017-05-12 07:28] lixiaobin0303 commented on #41
Thank you for solving the problem for me because of the use of the simulator

[2017-05-12 07:31] mmazzarolo commented on #41
Mh... Glad you solved it? (Hope I got your comment right 😄 ).
Closing, feel free to reopen if needed!

[2017-05-12 08:49] lixiaobin0303 commented on #41
I feel shy to the real machine test a bit or the date with the real time difference a day and time is not correct

[2017-05-12 09:39] mmazzarolo commented on #41
Sorry man, can't understand what you're saying :(

[2017-05-12 10:20] lixiaobin0303 commented on #41
I tested it with my cell phone, but it wasn't the right time

[2017-05-14 08:15] #41 closed

[2017-05-19 13:11] AlanFoster commented on #20
@mmazzarolo Running into the same issue; Triggering the modal's visibility seems to force the app's orientation whilst the modal is open for some reason:

![app](https://cloud.githubusercontent.com/assets/1271782/26249027/90dc7858-3c9c-11e7-9d59-29bf964ca955.gif)

[2017-05-19 14:19] AlanFoster commented on #20
@mmazzarolo Awesome, I'll try and give that a go. Thanks for the great component :+1:

[2017-05-22 05:55] lhr000lhr commented on #30
it does not work.

[2017-05-23 04:47] mmazzarolo commented on #30
I'm reopening, could you provide an example sto that I can reproduce it?
What are you using? iOS or Android?

[2017-05-23 08:36] lhr000lhr commented on #30
android ， i have to write like this to prevent bug
[code]

[2017-05-24 11:00] ezha86 opened #43 "ios modal container style"
nice and lite component.
would be great to see possibility to change modal container in the same way as     customTitleContainerIOS,  datePickerContainerStyleIOS done

[2017-05-24 12:11] mmazzarolo commented on #43
Hey @ezha86,
thanks!

Adding a `modalStyleIOS` prop shouldn't  be trivial, could you try adding it to [this style line](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js#L114) and see if it fits your tastes?
If it works correctly I can officially add it to `react-native-modal-datetime-picker` and release it no npm (or you could submit a P

[2017-05-24 12:13] mmazzarolo commented on #30
@lhr000lhr it is still working correctly for me even while removing that "fix" on a Nexus5X (language Italian).
What model is you device?
Is it an emulator?
What's the language you set?
And what is its Android version?

[2017-05-24 15:03] lhr000lhr commented on #30
i have tested in serveral devices containing android 4.1 - 6.0 .It's really easy to recurrence this bug. i'd like to commit a demo,if it's helpful to fix it.

[2017-05-24 15:09] lhr000lhr commented on #30
here is that page's source code. thers is nothing special,but the bug comes every time.
[MeetingEditTime.js.zip](https://github.com/mmazzarolo/react-native-modal-datetime-picker/files/1026010/MeetingEditTime.js.zip)

[2017-05-24 15:11] mmazzarolo commented on #30
I have a feeling this bug is caused by the language of your system, could you try with a device in english language?

[2017-05-24 15:27] lhr000lhr commented on #30
this emulator is in English.

[2017-05-24 15:52] mmazzarolo commented on #30
I might have fixed it, could you try the version in the master branch?
Still don't know why it did work on other devices though... 🤔

[2017-05-24 20:49] mmazzarolo commented on #29
Closing for inactivity, feel free to post here if you want to discuss this subject further and I'll re-open it! 👨‍💻

[2017-05-24 20:49] #29 closed

[2017-05-24 20:49] mmazzarolo commented on #16
Closing for inactivity, feel free to post here if you want to discuss this subject further and I'll re-open it! 👨‍💻

[2017-05-24 20:49] #16 closed

[2017-05-25 07:29] ezha86 commented on #43
hey @mmazzarolo
im talking about this :
see my [gist](https://gist.github.com/ezha86/384083e89e5f119fe3ce93d359057298)
than in my code pass as props -  contentContainerStyleIOS={myStyle.contentContainer}

[2017-05-26 07:19] ezha86 commented on #43
I have created a small PR. Please review it.
Thanks

[2017-05-26 07:33] mmazzarolo commented on #43
Merged! I'll post here when I'll release it on npm :) Thanks!

[2017-05-26 07:33] #43 closed

[2017-05-26 07:34] mmazzarolo commented on #30
@lhr000lhr did you test? I'd like to close this issue :)

[2017-05-26 16:27] lhr000lhr commented on #30
no yet. i'll test it as soon as possible._(:з」∠)_

[2017-06-04 20:35] mmazzarolo commented on #30
Closing, let me know if the issue arises again 👍

[2017-06-04 20:35] #30 closed

[2017-06-08 03:47] ianhoffman opened #47 "'mode' prop not working"
Hi,

Thanks for all your work on this modal, it's really helpful. For some reason the 'mode' prop won't work for me... am I missing something? Here's the relevant code:

[code]

But I still always get:

![screen shot 2017-06-07 at 8 45 30 pm](https://user-images.githubusercontent.com/13488540/26911439-52301b52-4bc2-11e7-820f-86107a4e7cbc.png)

I've always tried not putting 'time' in curlys, but to

[2017-06-08 03:47] #47 closed

[2017-06-08 09:09] lavarajallu opened #48 "How Can I disable Current Dates and Future Dates?"
I am using this Module But How Can I Disable Future and Current Dates...

[code]
This Code Is Not Allowing Future Dates But Allowing CurrentDate , I want Disable Current Date Also

[2017-06-08 09:10] lavarajallu commented on #48
[code]

This Code Is Not Allowing Future Dates But Allowing CurrentDate

[2017-06-12 21:25] loomis17 opened #49 "onHideAfterConfirm is not working"
onHideAfterConfirm behavior does not work at all on both Android and iOS.
By looking at both "index.js", master branch seems to indicate the behavior is implemented and supported. Nevertheless, this implementation is not observed after performing an "npm install react-native-modal-datetime-picker". There is no mention of onHideAfterConfirm in the code that is retrieved by npm install.

EDIT - Vers

[2017-06-15 13:50] mmazzarolo commented on #49
Ops, that feature wasn't available in `v4.6.0`, but [I just published it on the new `v4.7.0`](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.7.0).

[2017-06-15 13:50] #49 closed

[2017-06-16 16:49] ramsestom opened #50 "Feature request: option to force timezone"
Currently the picker return a complete date with the local timezone. When picking a date like a birthdate, it can be an issue. For example if my device local timezone is UTC+01 and I select 2000-01-01 as my birthdate, the picker would return  2000-01-01 00:00:00+01. If I convert it to UTC(z) (the default date format used by JSON for example) it would be converted to 1999-12-31:23:00:00.000Z.
So it

[2017-06-17 22:43] raduflp opened #51 "is24Hour param is ignored for mode='datetime' scenario"
When settings mode='datetime' the timepicker ignores the is24Hour flag

the issue is in src/CustomDatePickerAndroid/index.js:52-54 where the is24Hour prop should be added to the time options.

let me know If you want a PR for that.

[2017-06-18 13:56] mmazzarolo commented on #51
I'm on vacation right now, PRs are welcome :) thanks!

[2017-06-19 06:51] mmazzarolo commented on #50
Hey @ramsestom, thanks for opening the issue.
I'm on vacation right now, do you think you'll be able to send a PR with this feature?
Otherwise I'll take a look at it when I'll be back.
Thanks!

[2017-06-19 06:52] mmazzarolo commented on #48
Hey @lavarajallu, sorry for answering so late. Are you still having the issue?
I'm on vacation right now, I'll take a look at it when I'll be back.

[2017-06-19 11:31] mmazzarolo commented on #51
Merged!
I'll bump this thread when the PR will be available on npm.

[2017-06-19 11:31] #51 closed

[2017-06-20 16:30] DarthFowla opened #54 "DatePickerIOS property minuteInterval not working"
I've added a DatePicker with a mode of 'time' and it continues to show 1 minute intervals despite setting the minuteInterval to 30.
I've also tried all the other possible values. None of them seem to work.

[2017-06-21 14:45] ramsestom commented on #50
Hi @mmazzarolo . Finally did it out of the react-native-modal-datetime-picker component with moment.js. So not sure it is necessary to bother including this functionality in the component itself actually.

[2017-06-21 14:45] #50 closed

[2017-06-21 15:12] mmazzarolo commented on #50
Thank you for the answer :)

[2017-06-22 02:51] ctorresthrash opened #55 "Weird header in android when maximumDate is setted"
Hi, first of all, thank you for making this nice module.

When i set the property maximumDate it works as expected in both platforms, but in android it shows an ugly header, this error is not shown when i set the minimumDate prop.

![screenshot_1498099830](https://user-images.githubusercontent.com/4590204/27415262-b1b1e1fa-56cb-11e7-8fa3-c57db985911e.png)

This is my code

[code]

[2017-06-22 06:57] mmazzarolo commented on #55
Hi!
Does it show the header even when using react-native's own [datePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html)?

[2017-06-22 06:59] mmazzarolo commented on #54
Hi!
Does the issue persist even when using react-native's own [datePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html)?

[2017-06-22 09:40] MaxToyberman opened #56 "minuteInterval not working"
Expected behavior:
 passing prop `minuteInterval={15}` should show time in 15 minutes interval.

Actual behavior:
1 minute interval

[2017-06-22 09:40] #56 closed

[2017-06-22 09:48] MaxToyberman commented on #54
@mmazzarolo just tried it with datePickerIOS and it doesn't work also...

[2017-06-22 09:50] mmazzarolo commented on #54
It is indeed a [datePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html) issue then... do you mind reporting the issue on the [react-native](https://github.com/facebook/react-native/issues) repo?
P.S.: You'll probably need to add an example for reproducing the issue and more complete description of it (eg.: the interested React-Native issue).

In the meanwhile, I'll leave th

[2017-06-22 09:57] MaxToyberman commented on #54
@mmazzarolo actually the are many issues with that , here is one of them :
https://github.com/facebook/react-native/issues/5967

[2017-06-22 10:08] MaxToyberman commented on #54
meanwhile you can add `width: 320` to styles in `DatePickerIOS.ios.js` . I know this is not a good solution but it works.

[2017-06-22 11:50] ctorresthrash commented on #55
Yes, it does, thank you for your response, I'll close this issue.

[2017-06-22 11:50] #55 closed

[2017-06-22 11:54] mmazzarolo commented on #55
No worries! :)

PS.: If you're going to open an issue on the react-native repos could you link it here too? Thanks!

[2017-06-22 11:55] mmazzarolo commented on #54
@MaxToyberman thank you for the workaround and for keeping the issue updated 👍

[2017-06-22 11:55] #54 closed

[2017-06-22 11:55] #48 closed

[2017-06-30 07:20] upendra-tarnoju opened #57 "Date Picker minDate property not updating by using "state""
Here is the example code....

When I was changed start end, it should be minimum date if end Date... But it is not working as expected.

[code]

[2017-06-30 07:37] #57 closed

[2017-07-04 11:03] bsonntag commented on #29
Passing `datePickerModeAndroid={'default'}` fixes the issue.
@mmazzarolo maybe this should be the default value instead of `'calendar'`. What was the reason for using `'calendar'` as the default value for this prop?

[2017-07-04 11:29] mmazzarolo commented on #29
@bsonntag thank you for investigating on the issue.
Honestly, that prop comes from a previous PR, so I can't really answer your question.
Would you mind submitting a PR for fixing it?  :)

[2017-07-04 20:35] bsonntag commented on #29
@mmazzarolo done 😉

[2017-07-08 00:45] temitope commented on #21
thanks so much for this fix guys!

[2017-07-10 05:19] Mscynol opened #59 "minimumDate doesnt work ,maximumDate work well?"
minimumDate doesnt work ,maximumDate work well?

[2017-07-12 07:53] mmazzarolo commented on #59
Hi, are you on Android?
[This might be interesting](https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/60)

[2017-07-12 07:55] Mscynol commented on #59
Yes ,when I try it on Android, I'm amazing

[2017-07-12 07:59] #59 closed

[2017-07-12 08:00] mmazzarolo commented on #59
Unfortunately it's not supported on Android 👎

[2017-07-13 04:23] yukkeechang opened #61 "Only the date picker shows up, not the time picker"
I might be applying this wrong but I copy the example and a time picker does not show up for me however the console log still prints out a time when a date is selected. How can I make the time picker show up as well?

[2017-07-13 14:08] OskarHeden commented on #61
Use the 'mode' prop and change the value to 'time'

[2017-07-13 16:11] yukkeechang commented on #61
that worked! thanks! I shouldve been more careful looking at the provided props :)

[2017-07-13 17:24] mmazzarolo commented on #61
@yukkeechang no worries, it happens :)

[2017-07-13 17:24] #61 closed

[2017-07-16 19:21] yukkeechang opened #62 "Date and time seperate"
Hey just another question, even when I set the mode to 'time' or 'date', the opposite picker would sometimes pop up. I've been looking at it and I've checked and i'm not sure if it's my own mistake or not.

[2017-07-22 10:01] hyochan35 opened #64 "Error in recent react-native version"
I recently updated to new react-native 0.46.1 and following bugs appear in this library.
It appears when I set isVisible state to true.

![image](https://user-images.githubusercontent.com/20625109/28490240-fb1d5bec-6f0f-11e7-8068-9c6ec0b91a21.png)

please fix this issue in npm module. Thank you.

[2017-07-22 13:03] mmazzarolo commented on #64
Related to [this react-native-modal issue](https://github.com/react-native-community/react-native-modal/issues/42).
I'll try to investigare asap.
Help on this would be apreciated.

[2017-07-24 03:40] hyochan35 commented on #64
Can you change your modal import to 'react-native-modalbox'? (link https://github.com/maxs15/react-native-modalbox)
I've been using react-native-modal but changed to this one and error is gone.

Also you can close modal touching the background which is useful.

I feel much comfortable using this and it also fixes the bug.
Hope you can change your library to this one!

[2017-07-24 06:56] mmazzarolo commented on #64
@hyochan35 sorry but I won't change the modal component used for this module.

You can still contribute to the issue of `react-native-modal` though or, in the meanwhile, you can stay on the previous RN version :)

Also, are you on Expo?

[2017-07-24 07:53] hyochan35 commented on #64
Yes I am on Expo.

Sad to hear from you that you won't change the modal component.

Can I pull your source and fix your library to my own taste and use it for my project?

What I want from your library it to close the modal when tab on back without clicking on cancel button.

[2017-07-24 07:55] mmazzarolo commented on #64
It's an Expo issue then, I'll investigate it soon (I never used Expo).

Yep, you can fork it as much as you want, of course!

[2017-07-24 17:21] hyochan35 commented on #64
Thanks. Glad to hear that. I will update your library to react-native-modalbox for my project.

Also checkout my starter project for React-Native if you don't like expo.
https://github.com/hyochan35/starter-rn.git

[2017-07-24 17:24] mmazzarolo commented on #64
Hey @hyochan35, from my testing the issue seems to be related to the last Expo release.

Also, [I opened an issue on the official Expo repo](https://github.com/expo/expo/issues/404).

[2017-07-25 18:51] rodrigooler opened #67 "DateTimePicker stops working when you unmount the component"
DateTimePicker stops working when you unmount the component.

I display a list of tasks, when changing the date the component is dismounted and the datetimepicker stops working immediately, returning only when it closes the emulator and opens again.

<img width="322" alt="datetimepicker1" src="https://user-images.githubusercontent.com/5496931/28588568-5ed1d01c-7151-11e7-8cd3-942b9986ab31.png">

Co

[2017-07-25 18:57] mmazzarolo commented on #67
Hello!
What version of React-Native are you using? Are you using Expo?

What component are you unmounting?

Also, in my opinion, you should not unmount any component that interacts with the `DateTimePicker` while it is still visible (just put it in an  outer component).

[2017-07-25 19:07] rodrigooler commented on #67
cc @sibelius

[2017-07-25 19:10] rodrigooler commented on #67
@mmazzarolo hello!

react-native version: react-native": "0.44.0"
I'm not using expo.

I'm taking apart the code of the component above it would be `TaskCardPending`;

I tested it too and the error runs. Either the datetimepicker being inside the unmounted component or inside a container component.

[2017-07-26 07:25] mmazzarolo commented on #67
I'm sorry but I still can't understand when the issue happens.
Could you share a repo/snippet for reproducing it?

The snippet you posted above is not clear enough to me.

Thanks!

[2017-07-26 11:46] rodrigooler commented on #67
@mmazzarolo  I'll make an example with the error occurring and post here to help identify the error.

[2017-07-27 15:30] mmazzarolo commented on #64
The issue has been fixed in the last Expo release (`19.0.1`)

[2017-07-27 15:30] #64 closed

[2017-07-27 15:32] mmazzarolo commented on #62
Could you please provide an example?
Thank you!

[2017-07-27 19:30] tolu-ezekiel opened #68 "showing error on iOS simulator (create-react-native-app) environment"
throwing error on iOS.
See screen shot below for the error.

Code:
[code]
Depencencies used
[code]
<img width="372" alt="screen shot 2017-07-27 at 8 22 52 pm" src="https://user-images.githubusercontent.com/8381514/28688426-ce113b2a-7309-11e7-985c-0e3b076a1192.png">

[2017-07-27 20:47] mmazzarolo commented on #68
90% sure is related to issue #64, caused by Expo.

Update your Expo dependencies (or wait for the new Expo release) 👍

[2017-07-27 20:47] #68 closed

[2017-07-28 10:47] tolu-ezekiel commented on #68
It works. Thanks 👍

[2017-08-03 12:08] DominicHan opened #69 "How can I pick year and mouth only"
att

[2017-08-03 15:48] farnoodma opened #70 "Custom Calendar"
Hi,
Is there anyway to implement custom calendar such as **persian calendar**?

[2017-08-04 15:58] jkdf2 opened #71 "DateTimePicker in 'time' mode resets non-time portions of Date object"
Set up a DateTimePicker set to `mode="time"` with `date={someDatePastOrFuture}`. Select a new time via the picker and examine the date object sent to the `onConfirm` function.

On iOS, the old year, month, and day remain the same but the time has been updated, as expected.

On Android, the time updates as expected, but the year, month, and day have been replaced with today.

[2017-08-04 22:18] kyangy commented on #20
Hi! @mmazzarolo i was wondering if there was a fix for this yet?

[2017-08-09 19:23] pencilcheck commented on #50
@ramsestom How did you do it? Did you use moment-timezone and remove the timezone part and swap into the local timezone and then do it back once set? Or something else?

[2017-08-13 08:13] mmazzarolo commented on #71
Sorry for being late, I was on holiday.
I'll take a look at it as soon as I can.

[2017-08-13 08:18] mmazzarolo commented on #20
Hey @kyangy, sorry for being late but I've been on holiday.
I thought the issue was solved in the react-native-modal discussion that was linked above.
Are you still having the issue?
Are you on iOS or Android? Which version of RN and dependencies?

[2017-08-13 12:49] jbyrneie opened #72 "Time range picker"
Can you support picking multiple times or a range of times when I open the Calendar for a day

[2017-08-13 15:45] mmazzarolo commented on #72
Short answer: no 😞

This component behind the hood uses react-native's own [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that a feature like the one you're proposing must be supported by both DatePickerAndroid and DatePickerIOS for being implemented correctly

[2017-08-13 15:45] #72 closed

[2017-08-13 15:47] mmazzarolo commented on #69
Could you provide a bit more info on the issue?
What are you trying to achieve?

[2017-08-13 16:12] mmazzarolo commented on #70
This component behind the hood uses react-native's own [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that a feature like the one you're proposing must be supported by bot

[2017-08-13 16:13] mmazzarolo commented on #67
Closing for inactivity, feel free to open another issue if needed.

[2017-08-13 16:13] #67 closed

[2017-08-13 16:13] mmazzarolo commented on #62
Closing for inactivity, feel free to open another issue if needed.

[2017-08-13 16:14] #62 closed

[2017-08-14 04:53] lXSPandora opened #73 "How can i set a format?"
Hello,
How can i set a format to the datepicker to pick the data like yyyy-mm-dd.

Example
2017-08-14

[2017-08-14 07:42] mmazzarolo commented on #73
Hello @lXSPandora, this is more a Javascript related question then a `react-native-modal-datetime-picker` one.
You should handle the date formatting on your own component.
The date returned by `react-native-modal-datetime-picker` is a plain JS Date object so you can format it using [the plain JS Date API](https://www.w3schools.com/js/js_date_formats.asp), [date-fns](https://date-fns.org/docs/forma

[2017-08-14 07:42] #73 closed

[2017-08-14 10:43] DominicHan commented on #69
Without day like this.....
<img width="368" alt="3c182bcf-bc9a-4649-a119-3943d1bbbe1a" src="https://user-images.githubusercontent.com/14236559/29268561-e02691ce-811f-11e7-9f96-2c58467f7919.png">
<img width="330" alt="70cc73fa-c2d4-4714-8725-f09ff22d3d0e" src="https://user-images.githubusercontent.com/14236559/29268677-673f9778-8120-11e7-9f43-22097d2adfa1.png">

[2017-08-14 10:45] mmazzarolo commented on #69
This component behind the hood uses react-native's own [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that a feature like the one you're proposing must be supported by bot

[2017-08-15 20:29] NachosSs opened #75 "Android - DatePicker opens on November 2100"
Hi,
In some android device (Nura), the datepicker opens on November 2100.

[code]
Any ideas ?
Thanks a lot.

[2017-08-15 20:43] davidroman0O opened #76 "keyboardShouldPersistTaps={true} Deprecated"
Hi!

I'm just reporting a small issue! :)

@mmazzarolo you should change the keyboardShouldPersistTaps={true} to keyboardShouldPersistTaps="always".

'Cause it's deprecated on the console :)

Thx a lot for you lib! :)

[2017-08-16 07:05] mmazzarolo commented on #76
Hi @davidroman0O, I'm probably missing something `react-native-modal-datetime-picker` is not using any `ScrollView`/`ListView`/`keyboardShouldPersistTaps` prop 🤔

[2017-08-16 07:08] mmazzarolo commented on #75
Hi @NachosSs.
Could you please try swapping `react-native-datetime-picker` with react-native original date/time pickers to check if the problem persists?

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` react-native original [DatePickerAndroid](https://facebook.githu

[2017-08-16 07:11] mmazzarolo commented on #70
Closing, feel free to create a new issue if needed 👍

Also, please be aware that I created the following "new issue template" that, if followed correctly, will speed up a lot the issue resolution:

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` react-native original

[2017-08-16 07:11] #70 closed

[2017-08-16 13:37] davidroman0O commented on #76
Aaaand https://facebook.github.io/react-native/docs/scrollview.html#keyboardshouldpersisttaps

In fact, it's in the ScrollView ! :p

[2017-08-16 13:38] davidroman0O commented on #76
I guess I missed a scrollview on my side...

[2017-08-16 13:41] davidroman0O commented on #76
@mmazzarolo It's not your fault.
It's the react-native-modal-picker i use on my side.
Sorry!! :p

[2017-08-16 13:41] #76 closed

[2017-08-16 14:18] mmazzarolo commented on #76
@davidroman0O no worries :)

[2017-08-21 15:23] ajaysaini-sgvu opened #77 "Does it support TimePicker functionality also ?"
Hi I couldn't find a way to open `TimePicker` using this package. Suggested example in read.me opens `DatePicker` only.

Can you confirm if it supports `TimePicker` also ? If so then how ?

[2017-08-21 15:34] mmazzarolo commented on #77
Hi!
Take a look at the `mode` prop on the README.md:

| Name | Type| Default | Description |
| --- | --- | --- | --- |
| mode | string | 'date' | Datepicker? 'date' Timepicker? 'time' Both? 'datetime' |

[2017-08-21 15:34] #77 closed

[2017-08-23 20:38] ezha86 opened #78 "backdrop setter"
hi there
is there any chance to set props that use react-native-modal eg backdropColor/backdropOpacity etc ?

[2017-08-23 20:50] mmazzarolo commented on #78
Hello @ezha86
That's doable for sure, but it would work only for iOS thought... 🤔

[2017-08-24 06:46] ezha86 commented on #78
yes, only for ios. i have are few modals in my screen and 1 datetime picker and it would be great to add possibility to control it backdropColor/backdropOpacity  for consistency

[2017-08-27 22:08] j-wang commented on #71
Confirmed that I'm seeing the same problem. I'm on 4.5.0.

Working great for iOS, but exhibiting this reset behavior for Android (though it also works the other way around for me—`mode="date"` resets the time portion to 12am, at least on `is24Hour={false}`).

[2017-08-27 23:59] j-wang commented on #71
I also confirmed it for 4.9.0 on my code as well.

For my case, since I'm not using datetime mode, it's when `moment({...}).toDate()` generates a date with the incorrect elements for the time or date in `_showDatePickerAndroid` and `_showTimePickerAndroid` respectively.

I opened a pull request with a somewhat brute force solution to it by just repulling the missing datetime elements from `this.pr

[2017-08-28 07:08] #75 closed

[2017-08-28 07:11] mmazzarolo commented on #71
Thank you for the contribution @j-wang
@jkdf2 could you give @j-wang solution a try?
I'm sorry guys but I still haven't had a chance to take a serious look at it (I'm always following the issues and PRs though), but the proposed solution seems to be more than enough in my opinion.

[2017-08-28 10:57] jkdf2 commented on #71
I am no longer working on a `react-native` project and will be unable to give feedback at this time. Thank you for your contribution @j-wang!

[2017-08-29 02:38] wenkchan opened #81 "click blank places to dismiss the dialog"

[2017-08-29 07:01] mmazzarolo commented on #81
Hi @wenkchan .

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) an

[2017-08-29 07:01] #81 closed

[2017-08-29 18:32] mmazzarolo commented on #78
Hey @ezha86, I added `reactNativeModalPropsIOS` on last [v4.1.0 release](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.10.0).

[2017-08-29 18:32] #78 closed

[2017-08-29 18:33] #71 closed

[2017-08-29 18:34] mmazzarolo commented on #71
In the meanwhile, I merged the PR (I gave it a quick test and it worked).
Anyone else available for testing it a bit more?
@j-wang are you still using it without any issue?

[2017-08-29 19:05] j-wang commented on #71
Thanks, @mmazzarolo! Yeah, still using it in production, passed our blackbox tests, and no end users have complained so far, so seems to be working fine.

[2017-08-29 19:12] mmazzarolo commented on #71
Nice to know, I'll release it on npm soon then :)

[2017-08-30 05:29] zubko opened #82 "iOS: The Confirm button stays disabled on singe tap (no drag)"
Using latest: v4.10.0

The button become disabled on `onStartShouldSetResponderCapture`, but then the value didn't change, so the button doesn't become enabled.

I've tried to put the handler to `onMoveShouldSetResponderCapture`, at least it's triggered when some movement happens. It's still possible that Confirm will stay disabled but the margin for error is smaller. Single taps won't cause the i

[2017-08-30 11:08] erikaxel commented on #71
Hi, I can also confirm this works for me and fixes the bug. Looking forward to the npm release!

[2017-08-30 17:22] mmazzarolo commented on #82
@zubko thank you for the report, I'll take a look at it as soon as I have some free time.
Anyone else having the same issue?

[2017-08-30 17:29] mmazzarolo commented on #71
Landed on [v4.11.0](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.11.0)

[2017-09-04 07:29] ezha86 commented on #78
Brilliant
Thanks

[2017-09-07 20:36] chrismllr commented on #56
@MaxToyberman Is there a reason you closed this? I am having this issue

[2017-09-08 07:51] mmazzarolo commented on #56
Hi @chrismllr

Under the hood react-native-modal-datetime-picker react-native original DatePickerAndroid, TimePickerAndroid and DatePickerIOS.
Try swapping react-native-datetime-picker with react-native original date/time pickers to check if the problem persists.

[2017-09-08 14:29] chrismllr commented on #56
@mmazzarolo You're right, the bug seems to be in the native DatePickerIOS... I was able to fix the issue in DatePickerIOS based on this workaround: https://github.com/facebook/react-native/issues/9566#issuecomment-271183941

Unfortunately, the same workaround does not work in the `react-native-modal-datetime-picker` 😕

[2017-09-09 14:30] RobertArissen opened #83 "How to set language voor datetime picker?"
Hello,

Is there a way to set the language to dutch. By default it is English?

[2017-09-11 07:10] mmazzarolo commented on #83
Hi @RobertArissen, please take a look at #31.

[2017-09-11 07:10] #83 closed

[2017-09-12 10:38] princenaman opened #84 "Multiple Date / Time Pickers."
I want dynamic multiple date / time pickers.
I tried a piece of code but every time I datepicker is open for some other item and not the one clicked.

Versions
```react-native``` 0.47.1
```react-native-modal-datetime-picker``` ^4.11.0

Code
[code]

[2017-09-12 10:51] sunnynegi opened #85 "While using your dummy code getting issue"
Hi there trying to implement datepicker but it's give error

export default addTodo;`
Failed prop type: The prop `onCancel` is marked as required in `CustomDatePickerAndroid`, but its value is `undefined`.

[https://gist.github.com/sunnynegi/63a9a228ac0ae209fd22752a8a1fddc0](url)

[2017-09-12 10:56] sunnynegi commented on #85
Even the documentation is not good

[2017-09-12 11:01] mmazzarolo commented on #85
Hello @sunnynegi, I'm sorry you're not able to make the component work.
Please fill app the issue template so we'll be able to give you a faster feedback.

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` react-native original [DatePickerAndroid](https://facebook.github.io

[2017-09-12 11:05] sunnynegi commented on #85
Well i am getting issue,
1.issue
 Failed prop type: The prop onCancel is marked as required in CustomDatePickerAndroid, but its value is undefined.

How can i pass props On cancel or onConfirm so plz kindly help me

[2017-09-12 11:05] sunnynegi commented on #85
Well i am getting issue,
1.issue
Failed prop type: The prop onCancel is marked as required in CustomDatePickerAndroid, but its value is undefined.

How can i pass props On cancel or onConfirm so plz kindly help me

[2017-09-12 11:12] mmazzarolo commented on #84
Hello @princenaman
Given the fact that this component uses a modal, you should use only a single instance of it and simply adapt its prop to the interested values.
Just take this out of the loop:
[code]

And set the interested dates programmaticaly (keep them in the state).

For example you could change it to something like this:
[code]

[2017-09-12 11:14] mmazzarolo commented on #85
@sunnynegi please install and check [the example](https://github.com/mmazzarolo/react-native-modal-datetime-picker/tree/master/example) or at least paste here the code you're using.

[2017-09-12 11:19] sunnynegi commented on #85
Check ths gist
https://gist.github.com/sunnynegi/272b835d146a4303b56ac41429dce03f

[2017-09-12 11:21] mmazzarolo commented on #85
In the gist you provided the `alert` variable you provided to the `onCancel` prop is not defined

[2017-09-12 11:24] sunnynegi commented on #85
This is how i defined in constructor
this.onConfirm = ()=>{
        console.log('confirmed');
    }

    this.onCancel = ()=>{
        console.log('confirmed');
    }

[2017-09-12 11:27] mmazzarolo commented on #85
The constructor is totally unrelated to the components you're rendering.

Please change the DateTimePicker this way and let me know if it prints the log correctly.
[code]

[2017-09-12 11:36] sunnynegi commented on #85
Well i added, But nothing is happened

https://gist.github.com/sunnynegi/705261018d7640e965134d61e9a18dce

[2017-09-12 11:52] sunnynegi commented on #85
Ok thanks @mmazzarolo , I will checked what's the issue, Will you please update you doc.
Like how datepicker is work with input box etc, so it's easy for everyone (newbie or expert).
Move to another Datepicker, Thanks for your response

[2017-09-12 11:52] #85 closed

[2017-09-12 12:30] princenaman commented on #84
Works like a charm 😄

[2017-09-12 12:30] #84 closed

[2017-09-14 22:02] Niphery commented on #72
@mmazzarolo not sure if it recently changed but DatePickerAndroid & DatePickerIOS both support now minDate and maxDate.

[2017-09-19 03:37] perfecten opened #86 "[help] How can I set second ?"
I need HH:MM:SS。
does the component just set Hour and Minute ?
How can I set Second ?

thank you for your help

[2017-09-19 11:47] mmazzarolo commented on #86
Hi @perfecten,
Under the hood `react-native-modal-datetime-picker` react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
Unfortunately these components don't support t

[2017-09-19 11:47] #86 closed

[2017-09-19 16:59] kirakik opened #87 "Setting a time range for time picker?"
I believe that at the moment, it's not possible to set a minimum or maximum time for the time picker, because of limitations on the Android side. Is that something we might be able to see in the future? What about being able to choose a regular list picker for Android time picker, as opposed to the spinner?

[2017-09-19 17:27] mmazzarolo commented on #87
Hello @kirakik!
I'd like to keep the component just as a wrapper around the react-native implementation of the DatePicker/TimePicker (mainly because otherwise I'm 100% sure I wouldn't be able to keep it up to date).
If you need a feature like that then you have two options I guess:
- Fork this lib and add implement it directly in your own component (I'll gladly link your creation in the README if

[2017-09-19 17:27] #87 closed

[2017-09-22 06:30] SachinHiker opened #88 "how to change the theme color for android picker ?"
how to change the theme color for android picker ?

<img width="368" alt="screen shot 2017-09-22 at 11 59 08 am" src="https://user-images.githubusercontent.com/29193170/30731877-8ee42a6a-9f8d-11e7-9dde-8de8f6c9cd47.png">

[2017-09-22 08:14] mmazzarolo commented on #88
Hello @SachinHiker please check [this issue](https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/29).

[2017-09-22 08:14] #88 closed

[2017-09-28 12:28] mubashiralisiddiqui commented on #5
@mmazzarolo  i have use this but it only pick the date not the time its a datepicker only??

[2017-09-28 13:30] mmazzarolo commented on #5
@mubashiralisiddiqui
you should check the `mode` prop in the readme

[2017-09-28 13:42] mubashiralisiddiqui commented on #5
@mmazzarolo  thanks it was my mistake

[2017-10-01 21:53] ankitbisht143 opened #90 "Time Picker not accessible"
Where is the code for picking only time.

[2017-10-02 07:08] mmazzarolo commented on #90
Hi @ankitbisht143, take a look at #77

[2017-10-02 07:08] #90 closed

[2017-10-02 07:45] ankitbisht143 commented on #90
Thanx @mmazzarolo

[2017-10-11 05:45] abhi4973 opened #91 "is24Hour doesnt work when the mode is time. time picker always opens in with 24 Hours enable no matter what the value of is24Hour is ."
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2017-10-11 07:12] mmazzarolo commented on #91
Could you please take a look at the template (the one you posted above)?

[2017-10-12 14:36] temitope opened #93 "Setting in & out transitions with props AnimationInTiming and AnimationOutTiming"
Is there a way to  use the `AnimationInTiming` prop to set the transition behavior on both iOS and Android (not just iOS props as given by the prop in documentation?).

Alternatively is there a way to just have the component/UI for the datepicker without having to use it in a modal? (i already have a modal open and would love to just replace the view rather than figure out the timing issue of hidi

[2017-10-12 14:41] mmazzarolo commented on #93
Hey @temitope,

the `animationInTiming` prop can be used only on iOS, since it is a prop of `react-native-modal`,  which is used only on iOS in this component.

Are you talking about iOS or Android? Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://face

[2017-10-12 14:42] mmazzarolo commented on #91
Closing, feel free to open another issue (after taking a look at the template above) if needed!

[2017-10-12 14:42] #91 closed

[2017-10-12 14:51] temitope commented on #93
@mmazzarolo  thanks so much for that clarity and promptness. I updated to latest version `4.11.0`

for clarity I was referring to iOS and Android. I will search further. for now I can close this issue for sure. I didnt realize that the animation timing was only for iOS.

[2017-10-12 14:51] #93 closed

[2017-10-13 10:50] harikanammi opened #94 "Automatically disabled the before time from current time"
I am using this module, it's all working fine. I am running a sample app. If i pick a time from the time picker automatically it disables the before time from the current time.

Here is my code:
[code]
Here is my screenshot
![screen shot 2017-10-13 at 4 18 54 pm](https://user-images.githubusercontent.com/31063894/31543092-422ce7ce-b032-11e7-8b76-57c6402044a9.png)
Please give any suggestion for thi

[2017-10-13 11:01] mmazzarolo commented on #94
Hey @harikanammi,
I'm sorry but I can't understand the issue 😞
Could you please explain the following sentence a bit more?

Thanks!

[2017-10-13 11:16] harikanammi commented on #94
I want to disabled the completed time in the time picker

[2017-10-13 12:36] harikanammi commented on #94
I want to disable the previous time in the time picker. It enables only future time in the time picker.

[2017-10-13 13:10] mmazzarolo commented on #94
You should provide the `minimumDate` to the picker just like you would do with [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).

[2017-10-13 13:28] harikanammi commented on #94
This is my code.```
<View style ={styles.pickUpBorderView}>
        <Text>Pickup Time {this.state.currentTime}</Text>
        <DateTimePicker
          isVisible={this.state.isTimePickerVisible}
          onConfirm={this._handleTimePicked}
          is24Hour = {true}
          onCancel={this._hideTimePicker}
          mode = {'time'}
        />
        </View>
[code]

[2017-10-13 13:35] mmazzarolo commented on #94
[code]

[2017-10-13 13:39] harikanammi commented on #94
[code]
![screen shot 2017-10-13 at 7 08 58 pm](https://user-images.githubusercontent.com/31063894/31548876-036cd946-b04a-11e7-8938-a1992b314ffd.png)
I am getting this error.

[2017-10-13 13:42] mmazzarolo commented on #94
[code]
Does this work? It should not allow you to select a date before the current moment

[2017-10-13 13:45] harikanammi commented on #94
Thank You for your support, it's working

[2017-10-13 13:45] mmazzarolo commented on #94
👍 have fun!

[2017-10-13 13:46] #94 closed

[2017-10-13 13:57] ofilipowicz opened #95 "onHideAfterCancel or just onHide"
Is there any way to trigger function when modal closes after pressing Cancel? There is only onHideAfterConfirm callback. It would be nice if there would be onHideAfterCancel or just onHide (similar to react-native-modal's onModalHide)

[2017-10-13 13:59] mmazzarolo commented on #95
Hey @ofilipowicz, Isn't `onCancel` enough for your use case? Am I missing something? 🤔

[2017-10-13 14:17] ofilipowicz commented on #95
@mmazzarolo it triggers on button press, I need a hook on animation ends. I want to display another modal, but this one needs to be hidden first.

[2017-10-13 14:21] mmazzarolo commented on #95
Oh I got it!
Well, you should be able to pass `onHide` function to `reactNativeModalPropsIOS`, which is an Object o props that will be passed to the modal.

[2017-10-13 14:23] mmazzarolo commented on #95
My bad, I just noticed.
`onHideAfterConfirm` seems to get triggered [even when pressing the cancel button](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js#L129)

[2017-10-13 16:13] mmazzarolo commented on #95
@ofilipowicz yeah sorry

yep, it is not doable (yet) for Android since the "modal" is controlled natively by Android

[2017-10-13 21:38] thurber commented on #82
I'm also experiencing this issue... if a user taps on the value that is already selected, the confirm button remains disabled until they change the value.

What's the reason for disabling the confirm button at all?

[2017-10-16 16:35] #95 closed

[2017-10-17 10:33] mmazzarolo commented on #82
@thurber might be related to #40, what do you think?

[2017-10-17 13:51] thurber commented on #82
I see, so it prevents confirming while the wheel is actively in motion, so that an old value isn't confirmed. That makes sense, but unfortunately my users are getting confused. ^_^;

Any chance you'd be open to adding a prop to disable this behavior? I'd be happy to PR it.

[2017-10-17 13:53] mmazzarolo commented on #82
Of course! Just remember to not update the README.md

[2017-10-18 16:53] mmazzarolo commented on #82
Should be fixed in the new [v4.13.0](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.13.0)

[2017-10-18 16:53] #82 closed

[2017-10-19 02:28] truongluong1314520 opened #99 "How to init date for datetime-picker"
Hi Mmazzarolo,

I am stuck at init the date for datetime-picker. What I want is that when I open the calendar, instead of showing the current day, it will show the date which I setup before.

I search around and find this code:
`date={new Date()}`

However, if I put in the date I want like:
`date={new Date("1993,6,27")}`

The calendar still keep showing the current date instead of the date "27/06/

[2017-10-19 07:22] mmazzarolo commented on #99
Hey @truongluong1314520
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).

Could you please check if your

[2017-10-19 07:35] fabiopaiva-innovactory opened #100 "Question: Custom button today/now"
Is that possible to add a custom button to select the current date and/or time?

[2017-10-19 07:37] mmazzarolo commented on #100
Yep, there are many different props you can use to customize it:

Name | Type | Default | Description
-- | -- | -- | --
cancelTextIOS | string | 'Cancel' | The text on the cancel button on iOS
cancelTextStyle | style |   | The style of the cancel button text on iOS
confirmTextIOS | string | 'Confirm' | The text on the confirm button on iOS
confirmTextStyle | style |   | The style of the confirm bu

[2017-10-19 07:37] #100 closed

[2017-10-19 09:08] ZhouXiongXiong opened #101 "how show month in chinese ？"
I  want show month in chinese ! please tell func to change it

[2017-10-19 09:42] mmazzarolo commented on #101
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
Before reporting a bug, try swapping `react-native-datet

[2017-10-19 09:42] #101 closed

[2017-10-19 09:43] mmazzarolo commented on #101
Language related issues: #31 #83

[2017-10-19 09:46] ZhouXiongXiong commented on #99
Hi Mmazzarolo,
Month how to display in Chinese?
 Thank you in advance!

[2017-10-19 09:49] mmazzarolo commented on #99
Please @ZhouXiongXiong refer to the other issue you opened #101

[2017-10-19 15:54] gabrielvcbessa opened #102 "When you update the date propriety, onConfirm is not called again"
onConfirm is the only method that can notify the parent component that an update has happened. When passing a new date to the date picker component, the component updates the date internally but doesn't call onConfirm method.

[2017-10-19 17:28] mmazzarolo commented on #102
Hi @gabrielvcbessa,

Since you're the one passing the new date to the component, you already are aware of the date your passing... there's no reason to call onConfirm here. Am I missing something?

[2017-10-19 18:08] gabrielvcbessa commented on #102
Sorry, there isn't any issue, I was just tired and made a confusion. Closing this issue.

[2017-10-19 18:08] #102 closed

[2017-10-21 10:38] niteshsingh0129 opened #103 "min and max time does not work"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2017-10-21 10:40] niteshsingh0129 commented on #103
min and max time validation is used in most of the apps  as min and max date props

[2017-10-21 15:50] mmazzarolo commented on #103
Hey @niteshsingh0129, please follow the issue template first (try the native components and provide some code with the expected results).
I can't understand the description of the issue, I'm issue.

[2017-10-21 17:29] niteshsingh0129 commented on #103
it's not the issue,it's a feature just like you provide props of minimumDate and maximumDate. there should also props of minimumTime and maximumTime

[2017-10-21 20:44] mmazzarolo commented on #103
Oh! Just set the time in either ‘minimumDate’ or ‘maximumDate’

[2017-10-22 04:00] niteshsingh0129 commented on #103
As you said ,pass the minimum time in minimumDate props but, it does not reflect on the time picker as passing the minimum date in minimumDate props reflect in the date picker . how to fix it please, clarify it

[2017-10-23 07:45] mmazzarolo commented on #103
Try using [iOS Datepicker](https://facebook.github.io/react-native/docs/datepickerios.html) and let me know if it works here.

[2017-10-24 13:52] jpca999 opened #104 "Error while using the package node_modules/moment/moment.js: require() must have a single string literal argument."
![image](https://user-images.githubusercontent.com/1026325/31946817-db17048a-b8a0-11e7-87ec-f32070e4f184.png)

package version:  "react-native-modal-datetime-picker": "^4.11.0",

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid

[2017-10-24 13:56] mmazzarolo commented on #104
Please make sure you're actually using `v4.12.0`, [since this issue has been solved recently](https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/92)

[2017-10-24 13:59] jpca999 commented on #104
It used to work fine until i updated the expo version.

this is what im using
"react-native-modal-datetime-picker": "^4.13.0",
should i revert back ?

[2017-10-24 14:06] jpca999 commented on #104
@mmazzarolo   I also tried by changing the version to this..

"react-native-modal-datetime-picker": "4.12.0",

but I still get the error.

here are my other pakcages,
"react-native": "https://github.com/expo/react-native/archive/sdk-22.0.1.tar.gz",
"expo": "^22.0.0",
"react": "16.0.0-beta.5",

[2017-10-25 14:15] johngoren opened #105 "DatePickerModeAndroid"
This might be a bad question, but do you know any way to get the old-fashioned TimePickerDialog instead of the clock wheel?

I thought maybe the DatePickerModeAndroid="spinner" option might switch back to the old kind. But I can't get it to change anything. And I realize that the name strictly refers to "date" rather than "time" so I might be barking up the wrong tree. But as a feature request, I

[2017-10-29 16:50] ugendrang opened #106 "How to change the default theme color"
Currently the datetime picker displays title background, date/time selection color and Footer text(Cancel, Ok) color with green color.

Is it possible to change the default theme color?

[2017-10-30 09:17] mmazzarolo commented on #106
Hey @ugendrang , please take a look at #29

[2017-10-30 09:17] #106 closed

[2017-10-30 09:18] mmazzarolo commented on #105
Hey @johngoren, unfortunately I don't know any way to use the old Android ICS TimePickerDialog on newer versions of Android and creating a JS version of it is out of the scope of this component, sorry 😞

[2017-10-30 09:18] #105 closed

[2017-10-30 09:19] #103 closed

[2017-10-30 09:19] #99 closed

[2017-11-08 06:48] vivekebics opened #107 "How does the time picker works?"
Hi. You have method to show the data picker alone. But in the sample you have given time picker also. How does it work ?

[2017-11-08 07:52] mmazzarolo commented on #107
Hey @vivekebics, since this has been asked multiple times and I'm aware it was not clear enough in the REAMDE, I just added [the answer to your question in the FAQ section](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/README.md#how-do-you-show-the-timepicker-instead-of-the-datepicker).

[2017-11-08 07:52] #107 closed

[2017-11-14 15:10] kabhimanyu opened #108 "Not working on One Plus 3T."
The component is not working on the latest android release. API version 26 (Android 8)
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](

[2017-11-15 16:21] mmazzarolo commented on #108
Hi,
could you please include the info described in the issue template?

Thanks

[2017-11-19 10:38] kabhimanyu commented on #108
Hi it worked after I changed the condition in index.js

const IS_ANDROID = Platform.OS === 'android';

**export default (IS_ANDROID ? CustomDatePickerAndroid : CustomDatePickerIOS);**
to

const IS_IOS = Platform.OS === 'ios';
export default (IS_IOS ?CustomDatePickerIOS : CustomDatePickerAndroid);
Did not go in depth but for some reason, few mobiles are returning platform as a different string (not

[2017-11-19 18:47] mmazzarolo commented on #108
I never heard of this issue before...
Do you mind submitting a PR with your workaround? Thanks!

[2017-11-20 08:10] satya164 commented on #108
Can you give some examples of what it returns?

[2017-11-20 08:17] springHyc opened #109 "How to select a date, the choice of pop up box, only the year and month?"
我把`dateFormat`属性设置为了`dateFormat={"YYYY-MM"}`,选择好的数据中只展示，年和月，但是弹出的选择框中还是有日的。

<img width="344" alt="bug" src="https://user-images.githubusercontent.com/18530084/33008498-480d83fc-ce0e-11e7-95b4-dc01a7fc122c.png">

[2017-11-20 08:42] mmazzarolo commented on #109
I'm sorry but i cannot understand what you're trying to tell.
Please [follow the template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) and try to write in english if possibile.

[2017-11-20 08:42] #109 closed

[2017-11-20 09:27] kabhimanyu commented on #108
I did not see any build or runtime errors. But the button was not responsive on one plus 3T was working on other android and ios phones.

[2017-11-20 09:44] satya164 commented on #108
you can log the values and post here

[2017-11-22 04:37] saintplay commented on #108
I was testing this component with the `isVisible` prop direclty initialized to **true**( for rapid testing), and the modal didn't show at all, even calling `this.setState({ isDateTimePickerVisible: true });`. However if I initialize its value to **false** it works well

[2017-11-22 07:19] mmazzarolo commented on #108
This is a known issue that needs to be tackled (should require a simple fix involving a setTimeout), but it is not related to this issue 👍
Do you mind opening another issue? Thanks!

[2017-11-23 00:10] camnicklaus commented on #104
@jpca999 did you ever get this sorted? I'm just trying to use moment.js and/or react-moment lib and getting the same error

[2017-11-23 00:14] jpca999 commented on #104
@camnicklaus   not yet, but if you look for this issue on the expo i think they have it solved usign something like tihs.

    "react-redux": "^5.0.6",
    "redux": "^3.7.2",
    "redux-form": "^5.0.1",
    "redux-persist": "^4.9.1",
    "redux-thunk": "^2.2.0"
  },
  "resolutions": {
    "moment": "2.19.1"
  }
}

[2017-11-26 14:53] meurling opened #112 "How to get time from time object"
Hello!
Currently I am using the datetime picker with `mode={"time"}`. My `onConfirm` looks like this: `onConfirm={(time) => setDateTime(time)}`. Right now the `time` object looks like this: `Sun Nov 26 2017 15:47:00 GMT+0100 (CET)`. My question is; how do I get the time from this object? And also, can I get it in the format: (hh:mm)? Thanks!

[2017-11-27 18:51] mmazzarolo commented on #108
Any news @kabhimanyu ?

[2017-11-27 18:54] mmazzarolo commented on #112
That's not exactly a question related to the date picker, however you can manipulate the date with the functions showed [on the left panel of the MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/UTC).
Also, [here is a related question on stackoverflow](https://stackoverflow.com/questions/15546292/extract-time-from-datetime-using-javascript).
Have fun! 👍

[2017-11-27 18:54] #112 closed

[2017-11-28 16:48] ugendrang commented on #106
Thank you @mmazzarolo, its working after below changes in 'styles.xml'

<resources>

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        **<item name="android:datePickerDialogTheme">@style/Dialog.Theme</item>
        <item name="android:timePickerDialogTheme">@style/Dialog.Theme</item>**
    </style>

    <style name="Dialog.Theme" parent="Theme.AppCompat.Light.Dialog">

[2017-11-29 04:46] taoliu427 opened #113 "How to show the month as a number？"

[2017-11-29 07:18] mmazzarolo commented on #113
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2017-11-29 07:18] #113 closed

[2017-11-29 15:51] kabhimanyu commented on #108
Hey @mmazzarolo  I am caught up with a lot of projects and deliverables. I will try to submit a PR by this weekend.

[2017-11-29 16:12] mmazzarolo commented on #108
@kabhimanyu honestly... we're more interested in the log values 😋  @satya164

thanks!

[2017-12-01 06:38] u373649715 opened #114 "how to change to Chiness"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2017-12-01 07:22] mmazzarolo commented on #114
#101

[2017-12-01 07:22] #114 closed

[2017-12-02 19:57] SevenSinS02 commented on #20
@mmazzarolo This issue still exists. I even updated to react-native-modal 4.1.1.
The date time picker modal always opens in portrait. This happens in IOS btw.

[2017-12-04 08:09] mmazzarolo commented on #20
Hey @SevenSinS02 could you try swapping react-native-datetime-picker with react-native original date/time pickers and check if the problem persists?

[2017-12-04 10:32] SevenSinS02 commented on #20
@mmazzarolo  So sorry! There was some issue with the ios simulator. It works fine on the Ipad.

Apologies for raising the issue.

[2017-12-04 11:12] mmazzarolo commented on #20
No worries, glad it's working :)

[2017-12-04 11:12] #20 closed

[2017-12-10 00:02] X-Y opened #116 "Not working properly with native-base Input element"
[code]
running in IOS simluator,  "react-native-modal-datetime-picker": "^4.13.0", "native-base": "2.1.4"

When I tap the Input field, the DateTimePicker showes up. However I need to tap the cancel button twice to close the picker. What's more, the picker will show up again immediately after being closed.

Wondering if anybody has noticed such interaction?

### When reporting a bug, please be sure

[2017-12-11 08:18] X-Y commented on #116
Find a way around it, import `Keyboard` from `react-native`, and call `Keyboard.dismiss()` before `_showDateTimePicker`.

[2017-12-12 07:52] loyoliteabid opened #117 "moment(date) not supporting in android"
when using moment(date) as default date for time mode it shows the below error

Warning: Failed prop type: Invalid prop `date` of type `Moment` supplied to `CustomDatePickerAndroid`,
  expected instance of `Date`.

`<DateTimePicker
        mode='time'
        is24Hour={false}
        titleIOS='Start Time'
        isVisible={this.state.isTimePickerVisible}
        onConfirm={this._handleTimePicked.

[2017-12-15 14:42] grigored commented on #16
Tried different options, the only one that worked, based on @temitope 's suggestion is:
[code]

[2017-12-18 11:08] lavarajallu opened #119 "How Can set Date and Time Same Screen Like iOS to Android"
Actually I am using this  Module , For time and Date . I set the  **mode={'datetime'}** this property Using this

![screen shot 2017-12-18 at 4 28 00 pm](https://user-images.githubusercontent.com/20550556/34103169-c814feb8-e411-11e7-9f28-49d79138efbe.png)

Above Screen shot  like i want this android.

[2017-12-18 12:56] mmazzarolo commented on #119
I'm sorry @lavarajallu but the aim of this package is showing a platform-dependent picker.

[2017-12-18 12:56] #119 closed

[2017-12-19 04:44] lavarajallu opened #120 "Why It's not getting datePickerModeAndroid={'spinner'}"
Hello, I think this is not working Actually I getting Default android time Picker but i have Spinner mode i was change in node modules js page  and i was given to Property also but5 it's not getting like this below in android.

[code]

**I want like this!  any one suggest this**
![screen shot 2017-12-18 at 5 54 41 pm](https://user-images.githubusercontent.com/20550556/34141124-595785d8-e4a5-11e7-9

[2017-12-19 05:21] lavarajallu commented on #119
is iT possible to solve this

[2017-12-19 06:01] lavarajallu commented on #32
Hello, @arabscimitar Actually I am  using this module .
My  ```
"react": "16.0.0-alpha.12",
       "react-native": "0.46.1",

[code]

[2017-12-19 08:12] arabscimitar commented on #32
i could not reproduce i am not sure why it is happens

[2017-12-19 10:31] lavarajallu commented on #32
But I want Spinner Mode in android but it shows default mode

[2017-12-19 11:44] lavarajallu opened #121 "App Crashing When I was the Update Date or time (iOS)"
When i was click on the picke select date multiple times and confirm clicking App crashes.I think it is SDk problem please check it once.
[code]

[2017-12-19 11:48] mmazzarolo commented on #121
Please @lavarajallu if you need to submit an issue [follow the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md), otherwise I won't be able to help/understand you.

[2017-12-19 11:48] #121 closed

[2017-12-19 11:48] mmazzarolo commented on #120
Please @lavarajallu if you need to submit an issue [follow the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md), otherwise I won't be able to help/understand you.

[2017-12-19 11:48] #120 closed

[2018-01-02 12:07] morfsys opened #123 "Disable few dates"
There isn't any provision to disable a selected number of dates inside the picker.
Am I missing any documentation or this is known already?

[2018-01-02 12:10] morfsys opened #124 "Title is repeated when minimumDate prop is set"
I tried setting minimumDate prop to the next date from the current date.
I noticed if we set minimumDate to anything else other than the today's date then the an additional section is displayed inside the picker.
![whatsapp image 2018-01-02 at 5 35 11 pm](https://user-images.githubusercontent.com/25836296/34483373-07dad314-efe4-11e7-93f5-3742636c7c50.jpeg)

[2018-01-02 12:13] mmazzarolo commented on #123
Hey @morfsys, unfortunately the feature your asking for cannot be added to `react-native-modal-datetime-picker` since it has not yet been implemented in the native components.

[2018-01-02 12:13] #123 closed

[2018-01-02 12:15] mmazzarolo commented on #124
Please @morfsys take a look at the following issue template before submitting any new issue.
Thanks!

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [Time

[2018-01-02 12:15] #124 closed

[2018-01-02 12:16] #116 closed

[2018-01-02 12:16] mmazzarolo commented on #108
Closing for inactivity.

[2018-01-02 12:16] #108 closed

[2018-01-02 12:17] mmazzarolo commented on #117
Hi!
For keeping the API as much compatible with the native date/time pickers we'll require a valid Date prop, sorry.

[2018-01-02 12:17] #117 closed

[2018-01-02 12:17] #104 closed

[2018-01-03 21:42] Andreyco opened #125 "Deprecate `moment`"
Looking at code, `moment` lib is used to extract hour of of the date.
Using `moment` brought several issues is past and is not necessary in this time.

If you, maintainers, are open for such change, I am willing to submit PR.

[2018-01-04 09:46] mmazzarolo commented on #125
@Andreyco more than open to a new PR. Thanks!

[2018-01-04 12:23] supercamilo opened #126 "Can't display on component mount"
I would expect something like this to just display the picker every time my screen loads:

[code]

But it only seems to work when I change visibility via user interaction (on button press for instance):

[code]

[2018-01-04 14:12] mmazzarolo commented on #126
Android or iOS?
On Android it is a known thing, it could be fixed in [this file](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerAndroid/index.js) by copying the same logic done in the `componentDidUpdate` into the `componentDidMount` (if the `isVisible` prop is true).
Willing to submit and test a PR? :)

[2018-01-04 14:41] supercamilo commented on #126
Thanks @mmazzarolo, I just tested it on my Android project and it works. Here's the PR #127

[2018-01-04 17:45] mmazzarolo commented on #126
Merged, thanks!
Do you need it asap?
Otherwise I'll wait for [this other PR](https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/125) before publishing on npm.
Feel free to let me know if you need it soon, I can publish it tomorrow if needed :)

[2018-01-04 17:45] #126 closed

[2018-01-04 17:56] supercamilo commented on #126
No hurry @mmazzarolo, I'm using my fork by now :)

[2018-01-06 22:33] Rafaell416 opened #128 "I18n"
Is there a way to translate to other languages the date picked?

[2018-01-06 22:43] mmazzarolo commented on #128
Hey @Rafaell416 , what do you mean exactly? Could you be a bit more specific? Thanks!

[2018-01-08 07:00] Rafaell416 commented on #128
Hi @mmazzarolo, thanks for answering . What I mean is, each time you open the modal for picking the date, its language depends on device language, but when you choose the date what you see is always the date in english, My question is how can i get the date picked at the modal in another language different to english ?, like french maybe.

[2018-01-08 07:33] mmazzarolo commented on #128
@Rafaell416 If I understand correctly what your asking, your issue is more Javascript related then with `react-native-modal-datetime-picker` itself.
For translating the picker date in another language you should take a look at libraries that manipulate Javascript dates like [Moment.js](https://momentjs.com/) or [date-fns](https://github.com/date-fns/date-fns).
Let me know if any of them will work

[2018-01-08 07:33] #128 closed

[2018-01-10 18:28] rodrix opened #129 "Disabling weekends"
Hi everyone, how I can disable weekend's day selection (Saturday and Sunday)?

Thanks! :dancer:

[2018-01-10 18:31] mmazzarolo commented on #129
Hey @rodrix!
Do the original RN date pickers have this feature?

Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerio

[2018-01-10 19:05] #129 closed

[2018-01-14 18:13] mjparinas opened #130 "How to use with Redux Form?"
How would you use this component with Redux Form?

[2018-01-14 19:28] mmazzarolo commented on #130
Hey @mjparinas .
I already used this component with redux-form in the past, is totally doable.
You should wrap `react-native-modal-datime-picker` in another component (named `formDatePicker` for example) a then:
1. bind the `onConfirm` prop with redux-form's`onChange` (and apply your own custom logic in between if needed)
2. bind the `date` props with redux-form's value (and apply your own custom

[2018-01-22 12:12] Feelthewind opened #132 "The watch is 5 hours fast"
react-native-modal-datetime-picker: "^4.13.0"
The platform: Android
GitHub repository : https://github.com/Feelthewind/MeetupMe

I tested using react-native original date/time pickers and i found that it works okay.
But with this module, Time is always 5 hours fast.

[2018-01-22 16:34] #132 closed

[2018-01-27 23:19] mmazzarolo commented on #130
Closing for inactivity.

[2018-01-27 23:19] #130 closed

[2018-01-27 23:20] mmazzarolo commented on #125
Hey @Andreyco, any progress on this? 👍

[2018-01-30 07:59] Hgq1001 opened #133 "Why does it sometimes appear that time shows incorrectly and clicking the determination button does not respond"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-01-30 08:00] mmazzarolo commented on #133
Hi @Hgq1001 !
Please follow the issue template before submitting the issue.

[2018-01-30 08:00] #133 closed

[2018-01-30 08:00] Hgq1001 commented on #133
Why does IOS sometimes appear that time shows incorrectly and clicking the determination button does not respond?

[2018-02-01 15:20] fabiopaiva opened #134 "state `userIsInteractingWithPicker` problem using `onDateChange` on iOS"
If I add the method `onDateChange` to my component, the button onConfirm keep disabled even after the user stop interacting.
I noticed that the state is not updated because I did override the function `_handleDateChange` with my `onDateChange` prop.
I think it should update the state and also call my method onDateChange.
I don't want to use `neverDisableConfirmIOS` because I want to wait the user

[2018-02-01 15:32] mmazzarolo commented on #134
Hey @fabiopaiva
thanks for the feedback.
Your proposal sounds good... maybe you could send a PR with it?
Thanks!

[2018-02-01 15:36] fabiopaiva commented on #134
Yes, working on that

[2018-02-02 11:33] hugoh1995 commented on #16
Nothing works for me even @grigored 's answer.

[2018-02-05 07:33] swaroopa94 opened #136 "iOS returning current date even my minimum date is something else"
Hi,

This module works great But had a small issue with it

In iOS when I set the minimum time to some April 16 and when I open the picker it is showing correctly
But If I don't scroll the picker and click on confirm then it is returning the current date.
In Android its working fine

Can anyone help me in solving this
Thank you

[2018-02-11 16:21] hugoh1995 opened #137 "Is it possible to show the picker directly within the view without a modal?"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-02-12 07:30] mmazzarolo commented on #137
@hugoh1995 just use react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).

[2018-02-12 07:30] #137 closed

[2018-02-12 07:31] mmazzarolo commented on #136
Could you provide an example?

[2018-02-14 15:57] MichelDiz opened #138 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN only projects to this public chat s

[2018-02-14 21:35] mmazzarolo commented on #138
Sounds great, I appreciate the initiative.
I added a small badge on top of the README.md, feel free to send a PR if you have any better ideas.

[2018-02-14 21:35] #138 closed

[2018-02-21 06:57] rubinim1995 opened #140 "Disable DatePicker"
i want to disable disable date picker and enable TimePicker only......

will this possible??

how can i achieve this??

[2018-02-21 07:47] mmazzarolo commented on #140
It's in the FAQs:

### How can I show the timepicker instead of the datepicker?
Just set the `mode` prop to `time`.
You can also display both the datepicker and the timepicker in one step by setting the `mode` prop to `datetime`.

[2018-02-21 07:47] #140 closed

[2018-02-21 07:47] #136 closed

[2018-02-21 14:19] rubinim1995 commented on #140
its worked...
thank you so much

[2018-02-23 10:42] ozmaat opened #141 "Data/Time Picker don't work on release - Works with react-native original date/time picker"
Hi,

The date time box opens on android simulator but it is not shown on device in release version. No error is thrown but nothing displayed.

I tested it on two devices with android versions 4.4 and 5.1.

It is also tested on android simulator with android 4.4 and it works on simulator without any issues.

It is tested with "TimePickerAndroid" original date/time picker, and it works and opens the

[2018-02-23 10:48] mmazzarolo commented on #141
Hi @ozmaat

You mean that on simulator it works in release mode?

Thanks for testing it with it too!

Which devices did you use?

[2018-02-23 13:40] ozmaat commented on #141
Thanks @mmazzarolo for quick response.

On simulator, it is tested in debug mode running react-native run-android.

Devices are Asus Zenfone and Lenovo

[2018-02-23 14:08] mmazzarolo commented on #141
Could you try the simulator in release mode to see if the issue persists? thanks

[2018-02-24 08:48] ozmaat commented on #141
Release mode doesn't work on simulator also.

RN date/time picker works on both debug and release mode on simulator.

[2018-02-24 19:29] mmazzarolo commented on #141
That's really weird 🤔 I'll try to take a look at it, thank you for opening the issue

[2018-02-26 21:10] mmazzarolo commented on #141
@ozmaat Could you give it a try with the example you can find in the `example` directory of this project? It is working fine for me in both dev and release mode.

[2018-02-27 02:00] ChrisHughes commented on #67
I believe I'm having the same issue. When the component unmounts or setState is called while the date picker is visible on screen, it dissociates events from it and is stuck overtop of react native. I.e. the date picker sits on top of react native unresponsive to clicks on either confirm or cancel while the rest of react native is operable beneath it. No amount of full on refreshes will help resol

[2018-02-28 10:28] ozmaat commented on #141
thanks @mmazzarolo. I will give it a try and give feedback.

[2018-03-03 12:14] ozmaat commented on #141
The sample project does work on release mode.  The code is very simple and I have tried several release builds to find out why it doesn't work but yet to find the reason. Maybe one of the modules interfering but not sure. I will report back here if I find what causes it not to function in every case.

[2018-03-03 13:11] Zedonboy opened #143 "Use the date object returrn;"
What are the methods to manipulate the date object returned after the user selects

[2018-03-03 13:14] Zedonboy commented on #143
Ok wait is it still like our normal Date object in javascript?

[2018-03-03 14:33] mmazzarolo commented on #143
@Zedonboy yep!

[2018-03-03 14:33] #143 closed

[2018-03-07 14:23] ysq1051838264 opened #144 "怎么设置时间控件呀"
只能设置日期，不能设置时间也

[2018-03-07 14:35] mmazzarolo commented on #144
Invalid: please see [the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) and write in english.

[2018-03-07 14:35] #144 closed

[2018-03-08 09:07] han88829 opened #145 "Can I change the background color, thank you"
I want to change the background and font color；

[2018-03-08 09:14] #145 closed

[2018-03-12 10:52] animaonline opened #146 "Add support for iPhone X, make sure the datepicker adheres to safe area and margin layout guides"
^Title

[2018-03-12 15:10] abdelhakimkotti opened #147 "Can I change style the background color for Android and iOS ?"

[2018-03-12 17:26] WesleyFaveri commented on #134
I got same problem and PR resolve this issue.

[2018-03-13 10:03] mmazzarolo commented on #134
@fabiopaiva sorry for the late answer, could you resolve the conflict so that I can merge the PR?

[2018-03-13 12:24] #134 closed

[2018-03-16 11:08] aauffray commented on #16
@grigored 's answer works for me on the second modal open and beyond, but not the first one. It's a good start, thanks ! This issue has been bothering me for a while

[2018-03-16 14:52] #125 closed

[2018-03-16 14:53] mmazzarolo commented on #146
Thanks for the issue, would you be able to submit a PR on this? :) Thanks!

[2018-03-16 14:53] #141 closed

[2018-03-22 04:10] annedevia commented on #29
what should i write on onConfirm function when i have 2 inputfields for date picker? please help me

[2018-03-23 08:50] mmazzarolo commented on #147
Hey!
[Take a look at these dicussions](https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues?utf8=%E2%9C%93&q=color).

[2018-03-23 08:50] #147 closed

[2018-03-28 07:59] alimek commented on #146
@mmazzarolo see my PR for it

[2018-04-02 10:51] MihaiSandor opened #151 "Wrong time."
The outcome of the react-native-modal-datetime-picker swap described above - react-native-datetime-picker (latest)
iOS 11.3 (Iphone X simulator)
What version of react-native-modal-datetime-picker? - latest
What packages or other dependencies you're using? - just react-native-modal-datetime-picker and React Native.
An isolated way to reproduce the behavior (example: GitHub repository with code isol

[2018-04-02 11:58] mmazzarolo commented on #151
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-04-02 11:59] #146 closed

[2018-04-03 08:20] suhabaobaid commented on #151
+1

[2018-04-03 08:26] mmazzarolo commented on #151
Hey everyone, could you please read and fill the issue template?
Thanks

[2018-04-06 07:07] MihaiSandor commented on #151
Yes

[2018-04-06 08:06] mmazzarolo commented on #151
### When reporting a bug, please be sure to include the following:
- [ ] The outcome of the `react-native-modal-datetime-picker` swap described above
- [x] A descriptive title
- [ ] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [x] What version of `react-native-modal-datetime-picker` you're us

[2018-04-10 08:54] julestruong commented on #151
Hello

Just adding thoughts, it happens to bug only on device, not on simulator.
This also appears to happen randomly, roughly one in two

[2018-04-10 10:52] JochemWarmenhoven opened #152 "Change request: Dismiss on backdrop press by default on iOS"
Hi, I was wondering if it was possible to close the dateTime picker when pressing ouside of the modal. And if it is, how would i do that?

[2018-04-10 11:17] mmazzarolo commented on #152
Hey!
Since on Android you can't do it (we are using the react-native DateTimePicker) we are not planning to support the feature on iOS.

[2018-04-10 15:13] julestruong commented on #151
Hello @mmazzarolo no its not.

It seems to be related to https://github.com/facebook/react-native/issues/8169.
So you might not be able to fix this on your library :(

[2018-04-10 19:30] mmazzarolo commented on #151
Oh, yeah, the good old issue 8169 😄
Take a look at this discussion, #115, they seems to have find a way to fix it with a custom picker component

[2018-04-10 19:30] #151 closed

[2018-04-12 14:33] RocKhalil opened #154 "Hiding AM / PM on iOS"
Just a tip, if you want to use the 24 Hours rule on both iOS and Android and see that the `is24Hour` is not working on iOS, then you'll need to force the app to use `en_GB` as default DatePicker locale.

To do so, edit your `AppDelegate.m` file, and add `[[UIDatePicker appearance] setLocale:[[NSLocale alloc]initWithLocaleIdentifier:@"en_GB"]];` to `application didFinishLaunchingWithOptions`

Based

[2018-04-16 11:07] SirPhemmiey commented on #106
@ugendrang you missed an opening tag over there. :-)

[2018-04-19 13:43] abarisic86 commented on #154
This is useful. I had a situation where time picker would show AM/PM option without actually setting is24Hours to false but when tested on a device it would show 24-hours-time picker.

[2018-04-19 14:26] mmazzarolo commented on #154
Hey @RocKhalil thanks a lot 👍 !
Could you send a PR for adding that info in the FAQs question of the README?

[2018-04-20 08:24] RocKhalil commented on #154
Created a PR for it [156](https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/156)

[2018-04-20 08:24] #154 closed

[2018-04-24 17:06] bestlbw opened #157 "choice only YandM"
i know your component bases on RN’s component，but the demand is only choice year and month，i think you can change your component that different with RN’s component and more popular ，don’t you？

[2018-04-27 04:03] NamPrik commented on #157
I need it too.

[2018-04-27 06:44] bestlbw commented on #157
@NamPrik  you can see this  https://github.com/vinodkumar8/react-native-month-selector

[2018-05-07 14:17] zxiest opened #158 "minuteInterval always resetting to 1"
[https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/CustomDatePickerIOS/index.js
)
`Line 52`

should be set to `this.props.minuteInterval` ; no?

[2018-05-15 09:37] rahmanmarija commented on #103
How is this closed? What about Android?

[2018-05-22 02:55] ATranDev opened #159 "How to change language on android ?"

[2018-05-22 07:33] mmazzarolo commented on #159
#101

[2018-05-22 07:33] #159 closed

[2018-05-22 10:27] JeremyBradshaw7 opened #160 "Property 'cancelTextStyle' does not exist"
[code]

[ts] Property 'cancelTextStyle' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<DateTimePicker> & Readonly<{ children?: ReactNode;...'.

[2018-05-23 17:14] jkdf2 opened #161 "Differing behavior between iOS and Android without supplying date prop"
As of [v4.0.0](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v4.0.0), the iOS and Android pickers behave the same when providing the `date` prop. Great!

However, they behave differently when not providing `date` as a prop. The iOS picker stores the selected date internally as state and thus remembers your previous selection. On Android, it defaults to `new Date()`

[2018-05-23 17:20] mmazzarolo commented on #161
@jkdf2
thanks for starting the discussion.

Yes, I absolutely agree with this.
I thought about making this change in the past but I never had a chance to do it.
Anyone available for submitting this PR?

[2018-05-23 19:41] erbud opened #162 "Feature: Force the language in Android"
### Description of the problem
The user can't switch the language if he wishes.

[2018-05-24 07:10] mmazzarolo commented on #162
Not possible unfortunately (out of the scope of the lib) #101

[2018-05-24 07:10] #162 closed

[2018-05-25 06:55] ATranDev opened #163 "How to change the language, the current language obtained by device language?"
Currently I can change the language but only with ios and datetime mode. How do I change the language of both ios and android?please help me!Thank

[2018-05-25 11:06] mmazzarolo commented on #163
Hi!
Please see #162

[2018-05-28 07:15] rendomnet opened #164 "Month names localization?"
How to set locale for month names?

[2018-05-28 07:16] rendomnet commented on #164
okay found
"locale" prop

[2018-05-28 07:16] #164 closed

[2018-05-29 10:22] latelt-j opened #165 "[IOS] Using onChange propType disable onConfirm and never enable it"
Hi everybody thank you for this library that ease the handling of DatePicker for IOS/Android.

**Environment: IOS**

I have found an issue when you are using the onChange propType in IOS.
When you use this props you cannot use the onConfirm button any more, I'v read the code inside the `CustomDatePickerIOS/index.js` and on the `_handleDateChange ` you put the `userIsInteractingWithPicker: false` b

[2018-06-04 15:48] freakinruben opened #166 "Include `locale` DatePickerIOS prop in typescript definitions"
The readme mentions:

Which is great! When I try to use `locale` however, I noticed this iOS property is missing from the typescript definition:

[code]

See also https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L2565

[2018-06-04 16:10] mmazzarolo commented on #166
Do you mind adding it and submitting a PR? :)

[2018-06-05 10:58] #166 closed

[2018-06-07 02:45] RusselFourteen commented on #161
how to change datepicker header color on android?

[2018-06-07 02:45] RusselFourteen commented on #161
i want to make it blue or something not green? thanks :)

[2018-06-08 09:50] NarendraSingh88 opened #168 "How to open time picker dialog?"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-06-08 09:53] NarendraSingh88 commented on #168
I am not getting any example of time picker dialog. Please mention how to do that.

[2018-06-08 11:44] mmazzarolo commented on #168
Please see the FAQs.

[2018-06-08 11:44] #168 closed

[2018-06-26 06:20] JayKurniawan commented on #106
@ugendrang where can I find the `styles.xml` ?

[2018-06-26 06:46] #165 closed

[2018-07-01 17:10] nilaybrahmbhatt commented on #130
but when we use this with redux-form, bcz of onChange function picker is opened twice in android. not in IOS.

[2018-07-04 13:39] wack17s opened #169 "reactNativeModalPropsIOS is missed in index.d.ts"
Hi, `reactNativeModalPropsIOS` is missed here https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/src/index.d.ts#L9

[2018-07-04 14:12] mmazzarolo commented on #169
Hey! Do you mind submitting a PR? Thanks!

[2018-07-04 16:29] Rodrigo77777 opened #170 "date prop not working on Android"
Hi, I'm having an issue with the date prop on Android. For some reason, no matter what I pass in on the date prop it still defaults to new Date(). I've tried everything I can think of, but no matter what I do it keeps defaulting to today. I know the values themselves are sound, and I've even tried something as simple as  date={new Date('2020-05-05')} but it just ignores it completely?

Am I missin

[2018-07-04 16:32] mmazzarolo commented on #170
Hi @Rodrigo77777 , please check the [issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) before submitting a new issue.

Could you share a snippet of the code?

[2018-07-04 16:37] Rodrigo77777 commented on #170
Hey @mmazzarolo, apologies for not following the issue template! Here's the snippet:

`<DateTimePicker
                        mode={'datetime'}
                        date={new Date(moment(this.props.startTime).format())}
                        isVisible={this.state.dateTimePickerVisible}
                        onConfirm={this._handleDatePicked}
                        onCancel={this._hideDate

[2018-07-04 16:58] Rodrigo77777 commented on #170
Hey @mmazzarolo, turns out this was an issue with my code, took me a while to figure it out. Sorry for bothering you and thanks for the quick reply!!

[2018-07-04 16:58] #170 closed

[2018-07-06 10:14] CocktailZY opened #172 "How to use CN Language?"
How to use CN Language?

[2018-07-13 18:19] snokier commented on #172
+1

[2018-07-16 07:18] mmazzarolo commented on #172
@snokier thank you :)

[2018-07-16 07:18] #172 closed

[2018-07-17 06:52] aivarsliepa opened #173 "Errors in callbacks (onConfirm, onCancel) show misleading message."
Code from library (this pattern is used all across library).
[code]
Notice, that try catch block is around not only async code `await TimePickerAndroid.open()` , but also around synchronous code, which includes callbacks. If there is error in those callbacks, all we get is yellowbox message with **"Cannot open time picker"**.
**Note:** second argument - `message` (not sure why) is not printed out,

[2018-07-17 07:23] mmazzarolo commented on #173
Hey @aivarsliepa , I agree that wrapping all the code in a try/catch is not a nice pattern - I think initially that block of code was built that way by following [the official TimePickerAndroid docs](https://facebook.github.io/react-native/docs/timepickerandroid).

Open to PR, just make sure to also test it because I won't be able to test it thoroughly for a few day 👍
Thanks!

[2018-07-17 17:33] wack17s commented on #169
#174 Review please.

[2018-07-18 11:09] #173 closed

[2018-07-23 02:05] radjivF opened #176 "warning message Invalid prop `supportedOrientations`"
Hey guys,

I got this error message when I try to use the datepicker, any idea ?

[code]

thanks

[2018-07-23 13:07] #169 closed

[2018-07-23 15:21] ZsKLiQuid commented on #130
You can use like this :

    constructor(props){
        super(props);
        this.state = {isDateTimePickerVisible: false,}
    }

    handleChange = (date) => {
        this.setState({isDateTimePickerVisible: false, date : date});
        this.props.input.onChange(date);
    }

    render(){
        const {fieldError, label, meta, input: {...restInput }} = this.props;
        return (

[2018-07-30 06:31] nahidmbstu opened #177 "How can the user can select only the date before today only ?"
i want the user to be able to select the date and time that is only in future time. previous date will disabled.  how to do that?

[2018-07-30 07:21] mmazzarolo commented on #177
Since the native pickers do not have this feature it won't work on `react-native-modal-datetime-picker` :(

[2018-07-30 07:21] #177 closed

[2018-07-30 09:16] ZeroCool00 opened #178 "Date Picker always return initial date"
react-native-modal-datetime-picker: "^6.0.0",
react-native: "0.55.4"

Platform: **Android**

Date picker open with today's date selected, when i select different date and click **'ok'**,   it return today's date instead of  selected date.

[code]

[2018-07-30 11:57] #178 closed

[2018-07-31 16:56] onusgit opened #180 "time picker always return invalid date"
react-native-modal-datetime-picker: "^6.0.0",
react-native: "0.55.4"

Platform: Android

[code]

[2018-07-31 17:08] onusgit commented on #180
Its solved now.. just remove date props when only use time mode..

[2018-07-31 17:08] #180 closed

[2018-07-31 18:59] gbhasha opened #182 "In the example app upgrade the react and react-native to latest version"

[2018-08-01 09:25] #182 closed

[2018-08-01 09:26] mmazzarolo commented on #161
Fixed by #179 , will be released on npm soon

[2018-08-01 09:26] #161 closed

[2018-08-01 12:05] mmazzarolo commented on #158
Fixed by @gbhasha in #183

[2018-08-01 12:06] mmazzarolo commented on #176
Ha! This is just a leftover of a previous warn of react-native-modal, will be fixed with with a dependency update in the next version on `react-native-modal-datetime-picker` 👍 Thank you for reporting.

[2018-08-01 12:06] #176 closed

[2018-08-01 12:18] bhavincitrusbug opened #184 "how to change text value after date select from datepicker"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-08-01 12:24] mmazzarolo commented on #184
Please fill the issue template before submitting a new issue.

[2018-08-01 12:24] #184 closed

[2018-08-08 08:57] robertmylne opened #185 "Swap iOS Picker Day and Month"
Is there a way to swap the order to be DAY-MONTH-YEAR in the iOS picker? As that is the standard format in places outside the US.

[2018-08-08 15:19] mmazzarolo commented on #185
Hi!
Under the hood this component uses [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios) so the only features available are the ones listed in the official docs.

[2018-08-08 15:19] #185 closed

[2018-08-12 08:56] mmazzarolo commented on #158
Re-opening, see #183 comment by @wildseansy

[2018-08-13 17:00] franj0 opened #186 "[Android] - TimePicker instant crashing app"
My application crashes as soon as I open TimePicker(only on android, iOS works fine).
Before everything works fine, but some day just start crashing.
I tried already TimePickerAndroid original from react-native and it's work, there is no app crashing.
Please help!!!

My code is:

` <DateTimePicker mode="datetime" datePickerModeAndroid={"time"} isVisible={true} onConfirm={this._handleDatePicked} on

[2018-08-13 17:08] mmazzarolo commented on #186
Hi @franj0 ,
I'm sorry but we need more details about the crash, do you have any log about it?

Also please try using the example that you can find in the `example` dir of the app and see if it works correctly for you.

[2018-08-13 17:57] franj0 commented on #186
hi @mmazzarolo,

that it's point, I don't have any logs in debug mode in console. App just crash instantly when TimePicker need to be rendered.

I have only logcat from Android Studio and there is some log, but I don't get it.
Tomorrow I'll try example from repo but today I don't have time.

[2018-08-13 18:12] mmazzarolo commented on #186
@franj0 your `datePickerModeAndroid` prop is invalid, the available values are: `calendar` or `spinner`.

See the readme and/or the RN docs for more info 👍

Let me know if it fixes your issue.

[2018-08-14 09:28] mmazzarolo commented on #186
@franj could you try removing the `datePickerModeAndroid` prop?

[2018-08-14 11:48] franj0 commented on #186
@mmazzarolo thank you, it's working now, you can close this :)

[2018-08-15 06:01] radjivF commented on #130
Hey guys I have the same problem, and I cannot find how to make the @ZsKLiQuid' code work

[2018-08-20 19:40] TeunKooijman opened #187 "Time picker granularity"
Is it possible to set the granularity of the time picker to, for example, 30 minutes? Right now the default is 1 minute (on Android - not a clue what it does on iOS).

[2018-08-21 08:15] mmazzarolo commented on #187
Hi, `react-native-modal-datetime-picker` uses the original react-native modules under the hood so you can find the available props [here](https://facebook.github.io/react-native/docs/timepickerandroid).

[2018-08-21 08:15] #187 closed

[2018-08-22 02:43] nsisodiya commented on #180
@onusgit - How to set initial time for timePicker !!

[2018-08-22 02:51] nsisodiya opened #188 "How to set initial time for timePicker."
how to set initial selected time for timePicker. I tried the `date` parameter but got this bug -
https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/180

[2018-08-22 04:49] VKGraphics commented on #180
import DateTimePicker from 'react-native-modal-datetime-picker';
import moment from 'moment';

constructor(props) {
    super(props);
    this.state = {
      selectedDate: moment(new Date()).format('DD-MM-YYYY'),
      selectedTime: moment(new Date()).format('HH:mm'),
    };
  }

handleDatePicked = (date) => {
    const newDate = moment(new Date(date.toString().substr(0, 16))).format('DD-MM-YYYY'

[2018-08-22 06:10] nsisodiya commented on #180
@VKGraphics - you are not getting.
I am asking for
`mode='time'`
You are giving example for `Date`.

[2018-08-22 07:09] mmazzarolo commented on #188
Hi,
please follow [the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) before opening a new issue.

[2018-08-22 07:09] #188 closed

[2018-08-22 07:16] nsisodiya commented on #188
@mmazzarolo But I think, I gave the minimum sufficient information. Please show me, how to set up the initial pre-selected "time" for the time-picker. I even referenced, another but,  https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/180 Where we get `Invalid Date` issue. Seems like there is no way for set time for TimePicker.

`mode="time"`

[2018-08-22 07:34] nsisodiya commented on #180
@VKGraphics

worked, like this

Yup, worked,

[code]

[2018-08-23 06:36] onusgit opened #189 "Set date Picker Language To French"
One of my application use of datetime-picker but actually I required French language so give me response.

![screen shot 2018-08-23 at 12 06 16 pm](https://user-images.githubusercontent.com/15248145/44508727-f80de700-a6cc-11e8-992e-0f54230d0a44.png)

[2018-08-23 11:18] Return-1 opened #190 "You might wanna add locale as a property"
Id submit a PR if i wasnt so swamped right now haha, sorry for not doing so but its just a passthrough property, wont take a second.

Thanks for the amazing work

[2018-08-23 14:09] mmazzarolo commented on #190
Hey @Return-1 , could you be a bit more specific? 😬 Thanks!

[2018-08-24 06:55] Return-1 commented on #190
Righto, so the DatePickerIos for example has an option to specify the locale so that the days can be displayed in a different language. If you add that to your component and then pass it to that people will be able to change the language of the days and pm,am.

[2018-08-24 11:46] mmazzarolo commented on #190
You can already add [all the DatePickerIOS props](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/7e915e3e0bc3b68a3be17dd299240fc444839119/src/CustomDatePickerIOS/index.js#L188) to the component.

[2018-08-24 16:40] arpitjain-in opened #191 "can we hide "minutes" in time picker ?"
Hi,

It is an awesome module developed by @mmazzarolo . I have in requirement where I just need to show hours. How it is possible with this module to just show the hours fields and to hide or show `00` as in minutes fields.

Thanks

[2018-08-25 10:36] mmazzarolo commented on #191
Hi @arpitjain-in!
Please follow the [issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) before submitting a new issue.
Thanks!

[2018-08-25 10:36] #191 closed

[2018-09-06 00:55] oneduckoo opened #192 "Is now() included date object from onConfirm?"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-09-07 13:46] madeeha96 commented on #106
It's always showing blue theme. How ever i use "#FFA500" i.e. orange
how can i use this color?

[2018-09-12 11:29] mmazzarolo commented on #192
🤔AFAIK `now()` should be called on `Date.now()`, [not on a date instance](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now).
Did you mean `dateInstance.getTime()`?

[2018-09-12 11:29] #192 closed

[2018-09-12 11:29] #190 closed

[2018-09-13 17:47] spacewideweb opened #194 "datePickerModeAndroid='spinner' doesn't work in Android 7.0"
datePickerModeAndroid='spinner' works in Android 8.0, but doesn't work in Android 7.0.

[2018-09-14 08:58] mmazzarolo commented on #194
Hey @spacewideweb .
Yes, Android 8.0 doesn't support the spinner picker. That's why the RN Android DatePicker doesn't support it.
Since we `react-native-modal-datetime-picker` uses the native Android DatePicker we don't support it.

[2018-09-14 08:58] #194 closed

[2018-09-14 17:46] edoantonioco opened #195 "Does this works with expo?"
I want to know if I need to eject the project to use this.

[2018-09-14 18:10] msevestre commented on #195
Works great with expo. No problem for me and I have used this component in a couple apps

[2018-09-15 00:29] mmazzarolo commented on #195
Thanks @msevestre :)
Yep, it doesn’t need native linking so it should work without issues (if you find any feel free to submit a new one).

[2018-09-15 00:29] #195 closed

[2018-09-21 06:11] blurxs commented on #106
@ugendrang Thank you it works for API 21+. However when I'm changing the color with your solution I get another picker on API 19. Do you know how I can change it there too?
[API 19](https://ibb.co/jCmpzz)
[API 23](https://ibb.co/cEKWCK)

[2018-09-21 11:14] vasyl91 opened #196 "External usage of function "onCancel""
Hi,
My app activity depends on connection status. I tried to hide DateTimePicker when it is disconnected but it doesn't seem to work (when I put the code to `render`, picker is still visible, app ends up with infinite loop and crashes after while):

[code]

 So my other idea is to programmatically use `onCancel` function so it could be triggered when app state changes.  Something like:

[code]

Is

[2018-09-21 12:45] mmazzarolo commented on #196
Hey @vasyl91 , maybe I'm missing something but shouldn't this be enough?

[code]

[2018-09-21 13:11] vasyl91 commented on #196
Thank you for your reply! Hmm, that's not really what I meant. Your solution also falls into a loop and ends up with an error.

Anyway I still want to be able to call DateTimePicker so `isVisible` has to contain value `{this.state._isTimePickerVisible}` .

As far as I have noticed there are only three ways to close once opened DateTimePicker:
1. Click on `Cancel`,
2. Click on `Ok`
3. Click somewhe

[2018-09-21 14:45] mmazzarolo commented on #196
@vasyl91 please try the example in the README.md first, it will work.

Then, do the following:

[code]

If the above snippet doesn't work I would suggest you to create a new question on stackoverflow, since this is not a bug report/feature request.

[2018-09-21 15:07] vasyl91 commented on #196
Sadly it still doesn't work :( anyway thank you for your help!
Where can I mark it as feature request?

[2018-09-21 15:29] mmazzarolo commented on #196
I'm sorry but this is not a feature request, it's just an issue with your code/project (were you able to run the example available in the readme?).

Just sign-up into [stackoverflow](https://stackoverflow.com/) and ask a new question about the issue you're having.
I would also suggest to add there a bit more context (e.g. the entire file).

[2018-09-21 15:53] mmazzarolo commented on #196
Re-opening.
Gotcha. I guess you're on Android, right?

[2018-09-21 15:54] vasyl91 commented on #196
Yes, I'm working on Android ;)

[2018-09-21 16:12] vasyl91 commented on #196
Not good ;( I'll request them then. Thank you for your reply!

[2018-09-21 16:19] #196 closed

[2018-10-02 07:54] chrisgradl opened #197 "add fontScaling Prop for cancel and confirmButton"
I want to disable fontScaling for the cancelButton and the confirmButton. Can you add a fontScaling Property to the DateTimePicker and pass it to the Text Components of the Buttons?

[2018-10-08 06:17] ManigandanRaamanathan opened #198 "How to change theme colors?"
How to change theme colors?

[2018-10-08 09:38] mmazzarolo commented on #198
Duplicated #106

[2018-10-08 09:38] #198 closed

[2018-10-09 07:16] mmazzarolo commented on #105
@henninghall congrats on the picker, it looks really cool! 👏

[2018-10-11 04:48] vincthach opened #199 "Set minimumDate and maximumDate does not work"
I can not set minimumDate and maximumDate on ios, please help me
`<DatePickerField
                  hideTitle
                  date={this.state.dob}
                  minimumDate={minimumDate}
                  maximumDate={maximumDate}
                  onDateSelect={this.onDateSelect}
                  error={this.state.dateOfBirthError}
   />
`
I use vesrion:
Xcode10, yarn 1.10.1, npm6.4.1

`

[2018-10-11 04:51] #199 closed

[2018-10-13 10:15] TechSatya opened #201 "Is there any way to show the date till yesterday in DatePicker window?"
I wanted to show the date till yesterday with time 00:00:00 in Date and Time Picker window. I didn't find any proper way to get it done, so any ideas or suggestions please??

[2018-10-13 16:03] mmazzarolo commented on #201
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that if your feature is not supported by

[2018-10-13 16:03] #201 closed

[2018-10-15 09:07] dungnguyen10989 commented on #189
@onusgit did you fix it? share your resolution, please ?

[2018-10-15 09:15] dungnguyen10989 commented on #31
I tested origin Lib: PickerIOS on 2 devices, 1 on ios 9.3 and 1 on ios 12.0.
On 9.3 version, picker language will change when device language change but on 12.0 version it is not. I don't know what is reason and how to fix it ?

[2018-10-15 09:33] dungnguyen10989 commented on #189
Tks, I will test later. But if not set locale props, picker will get device locale to set language, my case is: on iPhone 6s+ run ios 9.3, it is exactly, but on iPhone X run 12.0, language always English.

[2018-10-15 09:54] dungnguyen10989 commented on #189
I setted locale="FR" but it is still English
![44102233_310992659632832_6631763344241983488_n](https://user-images.githubusercontent.com/30271788/46943887-df9dc580-d09a-11e8-8142-3924e08b7d9f.jpg)

[2018-10-15 10:02] onusgit commented on #189
It should work,
Check for Feb, should be Fév. As Oct is Oct in Fr.

[2018-10-15 10:04] dungnguyen10989 commented on #189
No, see Day in week :|

[2018-10-16 20:14] noda003 opened #202 "How to force hour selection only"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-10-19 10:58] kallayyash commented on #55
how  to make expiry mm/yy format picker in react native?

[2018-10-25 13:32] sandeepsinghs opened #206 "Error Module `AccessibilityInfo` does not exist in the Haste module map while running app."
While running app I am getting error as
Unable to resolve module `AccessibilityInfo` from ....  Module `AccessibilityInfo` does not exist in the Haste module map
 that's why I am not able to run app.

Please help.

[2018-10-25 14:17] mmazzarolo commented on #206
Hi! Please follow the issue template before submitting a new issue, thank you!

[2018-10-25 14:17] #206 closed

[2018-10-31 11:31] sandeepsinghs opened #207 "Unable to resolve module `AccessibilityInfo`"
### When I try to run the example project on Android  then I am getting
![datetimepicker_error](https://user-images.githubusercontent.com/14754191/47785285-44f5e580-dd2e-11e8-8fbe-5b1b4e3f6174.png)
 this issue.

The example project URL as [https://github.com/mmazzarolo/react-native-modal-datetime-picker/tree/master/example](url)

Because of this I am not able to run project.

[2018-10-31 13:13] mmazzarolo commented on #207
Could you try removing the `react-native-modal-datetime-picker` to see if it works?

[2018-11-01 08:37] mmazzarolo commented on #207
But do you get the error anyway?
I just tried the example and it is working fine for me so I'm not really sure it's related to the library.
Did you already check in the react-native issues?

[2018-11-08 10:30] mmazzarolo commented on #186
Thank you @arthur31416 , I guess it's just a leftover of an old API change

[2018-11-09 08:09] buddhiv commented on #180
Thank for pointing out this and posting the solution!

[2018-11-15 10:45] ptboyer commented on #158
Just ran into this issue now also. Would be good to resolve this please! 😄

[2018-11-15 12:08] mmazzarolo commented on #158
Hey @ptboyer , do you have any suggestion on how to fix it? Feel free to submit a PR/point out what could be causing the issue!

[2018-11-15 12:17] ptboyer commented on #158
@mmazzarolo Well what I find odd is that this is [something wrong with the DatePickerIOS itself](https://github.com/facebook/react-native/issues/9566) potentially.

I just tried all these "set width, minWidth" solutions that seemed to have worked for people in the past, but like a) it's absurd that changing the style of the component fixes a functional issue, b) despite how ridiculous that solutio

[2018-11-15 12:54] mmazzarolo commented on #158
@ptboyer doing so will disable the enter/exit animation of the picker though :/

[2018-11-15 21:47] ptboyer commented on #158
@mmazzarolo Ah, well, I would consider then wrapping the component in some kind of state managed component that takes the prop change and then handles the visibility with a timer or similar to accomodate the animation before destroying the picker through the conditional render.

So instead `pickerVisibile` (from my last solution) is a state variable that responds to a prop for visibility, so we ca

[2018-11-20 18:53] gimoteco opened #208 "Month picker"
Is it possible to configure this library to pick only a month (month picker)?

[2018-11-20 19:49] mmazzarolo commented on #208
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that if your feature is not supported by

[2018-11-20 19:49] #208 closed

[2018-11-20 23:40] ptboyer commented on #158
Well I hope that `hideModalContentWhileAnimating` actually destroys the Picker, because we're trying circumvent what's wrong with the picker itself, which seems to be its ability to obey the `minuteInterval` prop when other things change, rather than just when it first initialises.

[2018-11-21 10:54] mmazzarolo commented on #158
@ptboyer yeah I know, that prop name doesn't seem related but that's what it does under the hood.

[2018-11-23 20:05] edoantonioco commented on #190
Does it works on android? since it says IOS
If not, how can I change the language on android?

[2018-12-01 08:42] mahshadalishahi opened #209 "how change color react-native-modal-datetime-picker"
How can I change the overall color of the theme?

plz help me!

[2018-12-01 08:47] mmazzarolo commented on #209
[It's in the README.md](https://github.com/mmazzarolo/react-native-modal-datetime-picker#how-can-i-show-the-timepicker-instead-of-the-datepicker)

[2018-12-01 08:47] #209 closed

[2018-12-03 03:24] 121201333 opened #210 "props.maximumDate.getTime is not a function"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2018-12-03 07:39] harikanammi commented on #188
hi @nsisodiya, can you solve this issue???

[2018-12-03 09:23] #210 closed, assigned to nobody

[2018-12-10 10:27] blabz-rahulmandalkar opened #211 "How can I restrict user to select time in between 8 AM to 3 PM"
In case of time, I want to restrict user to select time in between 8 AM to PM, so as like minimum date and maximum date.How can i apply same to time picker also ?

[2018-12-10 11:15] mmazzarolo commented on #211
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that if your feature is not supported by

[2018-12-10 11:15] #211 closed

[2018-12-13 23:35] LutherBaker opened #212 ""minimumDate" is not respected if the user confirms the date without changing the initial value"
In `src/CustomDatePickerIOS/index.js` you initialize `defaultProps.date` to a `new Date()` and because `defaultProps` is static, it doesn't generally get recreated every time we display the picker.

Our application requires a `minimumDate` which is typically 1 day from the instant the user displays the picker.

If the user displays the picker - it shows the minimum date correctly (the underlying i

[2018-12-14 08:46] mmazzarolo commented on #212
@LutherBaker thank you for submitting the issue report!

Since it seems you figured out how to handle it, are you willing to submitting a PR/initial proposal on how to fix it?

[2018-12-18 15:05] gish94 commented on #212
is there any new on this issue?

[2018-12-23 17:08] gish94 commented on #212
hey?

[2018-12-25 18:54] ChenhuaWANG22 commented on #106
@mmazzarolo Is it possible to change color with using Expo ? Or we have to eject the project in order to change the color ?

I have read issue #29, issue #106 and some other related thread, edit all styles.xml file in my project folder and even create a android directory tree with styles.xml in it.
After hours trying, I'm still stuck with the color problem.
So please shed some light on this.

[2018-12-26 09:45] mmazzarolo commented on #106
I don't think it's available in Expo yet: https://github.com/expo/expo/issues/313

[2018-12-26 09:46] mmazzarolo commented on #212
Hey @gish94 , unfortunately I don't have much time to investigate and solve the issue but I'm always available for code reviews on pull requests if you find any vialable solution 👍

[2018-12-29 08:58] kartavyaparekh96 commented on #212
I have solution for temporary not permanent... @LutherBaker @gish94

[code]

[2019-01-07 09:52] uzairkhan01 opened #213 "Date Props ios issue"
### Issue
Date props not show Specify display date in picker.In debug build it work fine but in release build picker show Today date.

This is only ios issue.In Android work fine

### Code
import DateTimePicker from 'react-native-modal-datetime-picker';

 <DateTimePicker
     mode="date"
    isVisible={this.state.isToDatePickerVisible}
    onConfirm={this._handleToDatePicked}
    onCancel={() =>th

[2019-01-07 10:07] mmazzarolo commented on #213
Hi,
please follow [the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) before opening a new issue.

[2019-01-07 10:07] #213 closed

[2019-01-16 01:40] riaydh06 opened #214 "minimumDate and maximumDate not work together"
<DateTimePicker
            isVisible={isEndDatePickerVisible}
            onConfirm={this.handleSelectTime}
            onCancel={this.handleDatePickerToggole}
            mode="date"
            minimumDate={new Date(fromDate)}   // fromDate = 2019-01-01
            maximumDate={maxDate}   // new Date()
          />

[2019-01-16 05:02] wahidin32 opened #215 "i just wanna get date without time and other complete property, need help :)"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2019-01-16 09:55] #215 closed

[2019-01-16 09:56] mmazzarolo commented on #215
Please fill the issue template before submitting a new issue, thank you!

[2019-01-16 09:56] mmazzarolo commented on #214
Hi,
please follow [the issue template](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/ISSUE_TEMPLATE.md) before opening a new issue.

[2019-01-16 09:56] #214 closed

[2019-01-18 17:01] crobinson42 opened #216 "Jest snapshot fails every test run"
The default `date` props is different on every test run which causes the Jest snapshots to fail - any recommendation on how to handle this scenario?

First glance solution feels hacky: `<DateTimePicker date={env.__TEST__ ? new Date(testDate) : undefined} />`

[2019-01-18 17:15] mmazzarolo commented on #216
Hi @crobinson42 ouch, you're right, it does feel hacky but I'm not aware of other workarounds without making breaking changes (other than creating weird props like `useDefaultInitialDate={false}`).

Do you have any ideas?

[2019-01-18 17:17] crobinson42 commented on #216
My solution, for now, is to over-ride the `Date` constructor in my `setupTests.js` file that is ran before all tests. This is also hacky :-/ I did find the [mockdate](https://www.npmjs.com/package/mockdate) package which essentially does the same thing and it has a lot of downloads which indicates this is a popular solution.

[code]

[2019-01-24 01:51] Kstar0722 opened #217 "How can I disable font scaling ?"
Hello,
How can I disable font scaling in this picker?
![screen shot 2019-01-23 at 8 50 55 pm](https://user-images.githubusercontent.com/29844835/51648945-9b02af80-1f50-11e9-9ca2-4d3b58586cce.png)

[2019-01-24 06:06] surajvd opened #218 "Title on android"
how do we add a title on time picker in android?

[2019-01-24 10:36] #217 closed

[2019-01-28 14:11] romararr opened #219 "How to show time picker only?"

[2019-01-28 14:12] #219 closed

[2019-02-12 13:26] nwaughachukwuma opened #220 "Date picker error in RN 0.58.x"
Hi @mmazzarolo am getting the error in the attachment after updating to RN 0.58.4. Please what could be the problem?
![whatsapp image 2019-02-11 at 16 23 07](https://user-images.githubusercontent.com/20521315/52638383-288f4a80-2ed2-11e9-8f34-cdfd1866836f.jpeg)

[2019-02-13 10:08] marcinolek commented on #220
same here, it occurs when you tap confirm after selecting date (on iOS)

[2019-02-13 10:59] nwaughachukwuma commented on #220
@marcinolek I encountered this issue on Android

[2019-02-13 11:59] mmazzarolo commented on #220
Hey, could you please follow the issue template ?

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-nat

[2019-02-13 13:02] nwaughachukwuma commented on #220
Alright @mmazzarolo this is noted

[2019-02-13 13:20] marcinolek commented on #220
@mmazzarolo @nwaughachukwuma I found an issue in my code so the issue became invalid to me. I passed 'null' as date prop to the date picker at some point, which was incorrect. Apparently in previous version of RN it was allowed to pass null via bridge. One more thing, surprisingly it didn't crash (for me) in release builds, only when debugging.

[2019-02-13 13:44] mmazzarolo commented on #220
@marcinolek thanks for reporting back :)

[2019-02-18 06:14] Samyak81 opened #221 "Language locale not change in Android"
react-native-modal-datetime-picker , I have given locale string as below.

  <DateTimePicker
              isVisible={this.state.isDatePickerVisible}
              mode={"date"}
              locale={ "ar"}
              cancelTextIOS={strings("dialog.cancel")}
              confirmTextIOS={strings("dialog.okay")}
              minimumDate={funGetTomorrowDate()}
              onConfirm={this._hand

[2019-02-18 12:51] mmazzarolo commented on #221
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that if your feature is not supported by

[2019-02-18 12:51] #221 closed

[2019-02-18 12:51] #220 closed

[2019-02-21 08:37] khairunnisaa commented on #48
how can you resolve this issue?

[2019-02-21 10:12] Manish123Pandia opened #222 "is it possible to add digital clock for android also"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2019-02-21 10:21] #222 closed

[2019-02-25 13:57] SystemBlad opened #223 "react-native-modal-datetime-picker not working with react-native-modal 9.0.0"
After install the react-native-modal 9.0.0 the following error is displayed:

Loading dependency graph, done.
error: bundling failed: Error: Unable to resolve module `./animations` from `node_modules\react-native-modal\src\index.js`: The module `./animations` could not be found from `\node_modules\react-native-modal\src\index.js`. Indeed, none of these files exist: \node_modules\react-native-modal

[2019-03-02 02:51] FadiAboMsalam commented on #103
@mmazzarolo we need this feature for android in my opinion this feature has high importance!
any solution for max/min time limit to work both on ios and android ?
or workaround i need this!

[2019-03-13 02:50] wumingz opened #224 "How to set chinese lan style"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2019-03-13 02:50] wumingz commented on #224
for ios

[2019-03-13 08:48] mmazzarolo commented on #224
👋
https://github.com/mmazzarolo/react-native-modal-datetime-picker#how-to-set-automatic-locale-in-ios

[2019-03-13 08:48] #224 closed

[2019-03-13 08:49] mmazzarolo commented on #223
Seems to be working fine for me.
Could you please provide a repo with a reproducible issue?

[2019-03-13 16:18] SystemBlad commented on #223
Hi @mmazzarolo.
The repo is in github:  https://github.com/SystemBlad/RNDatetimePickerBug.git
To reproduce follow the next steps:

1 Clone the repository and run npm install
2 Run react-native run-android and see the two buttons with no action when they are pressed.
3 Run npm install  --save react-native-modal-datetime-picker
3 Uncomment commented code in App.js file
3 Run react-native run-android

[2019-03-13 18:59] mmazzarolo commented on #223
Thank you 🙏
I’ll check it soon but since you’re using both modals the issue might just be solvable by bumping the RN version number of react native datetime picker.

[2019-03-15 13:00] mmazzarolo commented on #223
@SystemBlad should be fixed by https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/225, wanna give it a try?

[2019-03-15 13:48] jhogervorst commented on #152
@mmazzarolo If I may ask—Why aren’t you planning to support this on iOS?

The default iOS behaviour is to dismiss action sheets when tapping on the grey background. As such, I think it would make sense to do that here as well.

I’ve fixed this myself using `reactNativeModalPropsIOS={{onBackdropPress: myHideMethod}}` for now, so it’s no big issue🙂 But it may still be a nice default behaviour.

[2019-03-15 15:21] mmazzarolo commented on #152
@JochemWarmenhoven of course you can ask!
There was a mistake in my post above, I meant `we are not planning to support the feature on Android`, not iOS.
On iOS you can already do it using the prop you described but it would be nice making it a default if this is the default iOS behaviour 👍
If you're willing to submit a PR I can review it, merge it and publish it this weekend with #225 ...
otherwi

[2019-03-15 17:42] SystemBlad commented on #223
Hi @mmazzarolo,  is working perfect with master branch that is using "react-native-modal": "^9.0.0".

Thank you very much

[2019-03-15 21:13] mmazzarolo commented on #223
Published in `6.1.0`! Thanks @SystemBlad for helping out and for the quick feedbacks!

[2019-03-18 15:02] danielst19 commented on #216
Hi @mmazzarolo, How do I deactivate weekends in the datepicker? I appreciate that you can help me

[2019-03-18 15:07] danielst19 opened #226 "How do I disable weekends in the react-native-modal-datetime-picker?"
How to disable weekends in the react-native-modal-datetime-picker?

[2019-03-19 10:29] mmazzarolo commented on #226
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).
This means that if your feature is not supported by

[2019-03-19 10:29] #226 closed

[2019-03-19 10:29] #223 closed

[2019-03-19 15:45] Danultimate opened #227 "Date ranges on react-native-modal-datetime-picker?"
Im trying to implement a the react-native-modal-datetime-picker, I know isn't possible to select a range of times but theres any work around for dates?

[2019-03-19 16:09] Makar8000 commented on #227
Check the [readme](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/master/README.md#available-props). You can use the minimumDate and maximumDate props

[2019-03-19 16:11] Danultimate commented on #227
Thanks, but I meant let the user select a date range for 1 feb to 15 feb for example, not restrict the possible dates.

[2019-03-19 16:13] Makar8000 commented on #227
Apologies; I misread your post. I am not sure how to do that.

[2019-03-22 13:36] alexandrius commented on #227
@Danultimate Try these: https://github.com/wix/react-native-calendars, https://github.com/Tinysymphony/react-native-calendar-select

[2019-03-26 07:28] alisa-hui opened #228 "TimePickerAndroid.open({mode: 'spinner'}) doesn't work"
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS

[2019-03-26 07:29] #228 closed

[2019-03-26 07:30] alisa-hui opened #229 "TimePickerAndroid.open({mode: 'spinner'}) doesn't work."

[2019-03-26 08:39] #229 closed

[2019-03-29 06:47] SL-A-SH commented on #48
To block future dates initialize your DateTimePicker with maximumDate prop likes so:

[code]

[2019-03-30 20:34] mmazzarolo commented on #227
@Danultimate nope, not doable unless the RN Android/iOS date pickers allow it.
P.S.: Thanks @Makar8000 and @alexandrius 💯

[2019-03-30 20:34] #227 closed

[2019-04-02 07:17] webexpert4rv opened #230 "how to add reset date button on the modal?"
i'm trying to add reset date button on the modal so that we can reset date/time by current date/time

thanks in advance

[2019-04-02 07:45] mmazzarolo commented on #230
Hi @webexpert4rv , I'm sorry but since this feature won't be available for Android (because the native Android Date/Time Picker doesn't support it) we're not planning to add/maintain it.

[2019-04-02 07:45] #230 closed

[2019-04-03 13:04] paolospag commented on #106
Hi @mmazzarolo
this code:

[code]

doesn't work for me with `react-native 0.58.6` and `react-native-modal-datetime-picker 6.1.0`.
Any workaround?

[2019-04-04 09:04] mmazzarolo commented on #106
@paolospag no idea honestly, have you already tried checking in the React-Native issues? 🤔

[2019-04-04 09:13] gundogduyakici opened #231 "Does not match the system clock"
Hello there,
I live in Turkey. If I choose 10:00, it sets the time to 7. 3 hours difference. What is the solution to this?

Thank you.

[2019-04-04 09:26] HusseinElGanzory opened #232 "How to select multiple date?"

[2019-04-04 10:08] mmazzarolo commented on #232
#227 227

[2019-04-04 10:08] #232 closed

[2019-04-04 10:11] mmazzarolo commented on #231
Hey!
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid.html) and [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios.html).

Please check the [How to set locale section in the

[2019-04-04 10:11] #231 closed

[2019-04-04 10:38] gundogduyakici commented on #231
Thank you @mmazzarolo

[2019-04-06 09:51] PeaGo opened #233 "i define a date as a props but display date in modal always slower 1 day"

[2019-04-06 10:01] #233 closed

[2019-04-14 13:31] helloitsm3 opened #234 "Customized Time"
How do I customize the timing for the time picker? Currently, I'm able to select from 0 - 59 in the minutes column. I would like the user to only use it in a multiple of 5. How do I do it?

[2019-04-14 18:46] JayKurniawan opened #235 "How to set the maximum year ?"
I want to set the maximum year only (10 years ago) and make all date is available.
But I can't make it, some date is disabled
Here's some of my code:

[code]
![Screenshot_20190415-014941](https://user-images.githubusercontent.com/6804018/56097647-7b609f00-5f21-11e9-99c0-b0e29f2d0fd6.png)

[2019-04-15 07:39] mmazzarolo commented on #234
Hi! Please follow the issue template before filling a new issue.

[2019-04-15 07:39] #234 closed

[2019-04-15 07:39] mmazzarolo commented on #235
Hi! Please follow the issue template before filling a new issue.

[2019-04-15 07:39] #235 closed

[2019-04-16 23:18] jordan-thenumber commented on #158
any progress on this?

[2019-04-17 06:42] mmazzarolo commented on #158
@jordan-thenumber have you tried the workarounds above?

[2019-04-17 17:00] jordan-thenumber commented on #158
@mmazzarolo i tried showing/hiding using js expression but it's not working in react 57. a fix has been pushed to master so you can cherry pick and apply it.

https://github.com/facebook/react-native/issues/9566

[2019-04-18 10:55] ocarreterom opened #237 "The initial date is reset after onCancel"
When setting an initial date `date={initialDate}` and then press the cancel button, the date and time are reset to "now".

[2019-04-18 11:48] mmazzarolo commented on #237
Thanks for reporting (even if you haven't followed the template! 👴 )
Looks like a bug related to [this line](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/f24ee4c8dd73d7a168f7f50c5fc18ab0789fa48b/src/CustomDatePickerIOS/index.js#L78).
I *think* it should be `this.props.date` instead of `Date.now()`.
Willing to submit a PR and check if it fixes the issue?

[2019-04-18 12:00] basbase commented on #237
This seems to work:
`  _resetDate = () => {
    this.setState({
      date: this.props.date || new Date()
    });
  };
`

[2019-04-18 13:20] ocarreterom commented on #237
@mmazzarolo sorry for don't follow the template. It was too much text 😞.
PR sent 🚀

[2019-04-18 13:23] ocarreterom commented on #237
@basbase thanks for the snipet. I think `|| new Date()` is not necessary since defaults props avoid date to be `undefined`.

[2019-04-18 15:06] #237 closed

[2019-04-20 19:49] mmazzarolo commented on #212
Thanks @kartavyaparekh96 for the workaround. I'm not sure if it makes sense handle this edge case internally in the library, but I'm available for PR/discussion for addressing the case.
Closing!

[2019-04-20 19:49] #212 closed

[2019-04-20 19:55] mmazzarolo commented on #158
Thanks @jordan-thenumber .
I'm closing the issue since it's a DatePicker IOS native problem on which we don't have control on :/
It should be fixed by [this RN PR](https://github.com/facebook/react-native/pull/23923) soon though!

[2019-04-20 19:55] #158 closed

[2019-04-22 13:15] mmazzarolo commented on #152
Done! [7.4.0](https://github.com/mmazzarolo/react-native-modal-datetime-picker/releases/tag/v7.4.0)

[2019-04-22 13:15] #152 closed

[2019-04-24 07:48] paolospag commented on #106
ciao @mmazzarolo 😄
sorry for the late response.

This code:
[code]

has definitely solved my problem, thank you so much!

[2019-04-25 13:19] majidalik opened #240 "Time Format"
Can we get formatted time onConfirm? I need only HH:MM:ss.

 <Timepicker
          isVisible={this.state.isDateTimePickerVisible}
          onConfirm={this.handleDatePicked}
          onCancel={this.hideDateTimePicker}
          mode={"time"}
        />

[2019-04-25 15:16] mmazzarolo commented on #240
The returned date is a standard [JS date](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date), so you can format it using the JS date APIs

[2019-04-25 15:16] #240 closed

[2019-04-28 19:26] helloeyesimple commented on #223
I'm using 7.4.0 and the issue is back. It cannot show the modal again after setState to false.
Not sure if this is the same issue or not.

[2019-04-29 17:12] helloeyesimple opened #241 "IOS - Cannot reopen modal"
When I close the DateTimePicker using "false" state, I cannot seems to reopen the modal again using "true" state.

### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid

[2019-04-29 17:16] #241 closed

[2019-05-03 05:45] haseebb opened #242 "Want to get just minute and seconds"
I just want to get min and sec so how I can get please help.

[2019-05-03 07:11] mmazzarolo commented on #242
https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/240

[2019-05-03 07:11] #242 closed

[2019-05-03 09:01] haseebb commented on #242
No Sir, I want to show min and sec to a user then the user will select min and sec

[2019-05-03 09:02] haseebb opened #243 "I want to show min and sec to a user then the user will select min and sec"
Sir
 Actually I want to show min and sec to a user then the user will select min and sec

[2019-05-03 09:04] haseebb commented on #243
Like below

<img width="157" alt="Screenshot 2019-05-03 at 9 45 11 AM" src="https://user-images.githubusercontent.com/38561017/57128257-44f1a380-6dac-11e9-940c-8d58294eee16.png">

[2019-05-03 09:18] mmazzarolo commented on #243
@haseebb please follow the issue template before opening a new issue.
### When reporting a bug, please be sure to check if the issue still persists with react-native original date/time pickers:
Under the hood `react-native-modal-datetime-picker` uses react-native original [DatePickerAndroid](https://facebook.github.io/react-native/docs/datepickerandroid.html), [TimePickerAndroid](https://facebook.

[2019-05-03 09:18] #243 closed

[2019-05-06 14:20] JaWoGit opened #244 "Change language without modifying AppDelegate.m"
## Ask your Question

Hi,

first off all, awesome library! Thanks for that.
Is there a possibility to change the language without modify the AppDelegate.m file? Because I'm using Expo and, as far as I know, there is no possibility to change the AppDelegate.m?

Any help would be appreciated!

Cheers,
Janik

[2019-05-06 14:56] mmazzarolo commented on #244
👋 @JaWoGit , unfortunately this component just uses the original React-Native DatePicker under the hood, so you might wanna ask this question on StackOverflow or in the Expo forums since we're not in control of the native iOS component... and I'm not aware of any way to do without playing with the AppDelegate.m 🤔

[2019-05-06 14:56] #244 closed

[2019-05-09 10:49] uncledent commented on #214
Having same issue

[2019-05-10 14:24] Brqqq opened #245 "Support for timezones?"
## Ask your Question

Say the time is 0:00 UTC and I'm in GMT+1 and I open the timepicker, the time will show 01:00.

What if I want to show 0:00 instead? Do I have to manually do some date shifting based on the UTC offset to get this behaviour? Or is there some way to set a timezone?

[2019-05-10 15:48] pavermakov opened #246 "Programmatically close android picker"
Is there any way I can programmatically close the android datepicker?

[2019-05-10 16:15] mmazzarolo commented on #246
Not really, mainly because it's not supported [by the react-native Android TimePicker](https://facebook.github.io/react-native/docs/timepickerandroid) as far as I know.

[2019-05-10 16:15] #246 closed

[2019-05-10 16:20] mmazzarolo commented on #245
👋 this component doesn't the input/output date and/or its manipulation, at least not more than the native components do. So, yes, you'll need to do that directly outside of it.

[2019-05-10 16:20] #245 closed

[2019-05-15 03:58] hugofelp opened #247 "Picker resets to saved date if enclosing component re renders"
## Environment
    System:
      OS: macOS 10.14.4
      CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
      Memory: 98.02 MB / 16.00 GB
      Shell: 5.6.2 - /usr/local/bin/zsh
    Binaries:
      Node: 10.15.0 - /usr/local/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:

[2019-05-15 08:09] mmazzarolo commented on #247
Fix merged!

[2019-05-15 08:09] #247 closed

[2019-05-16 12:10] sudhanshu-kiwi opened #250 "There must be a clear button to clear the date in android like the image attached with this thread."
Whyyyyyyy?

![Screenshot 2019-05-16 at 5 37 50 PM](https://user-images.githubusercontent.com/47819036/57852818-d415a700-7801-11e9-82b1-1a67a2c1d69f.png)

[2019-05-16 14:06] mmazzarolo commented on #250
Please follow the issue template before submitting a new issue 👋

[2019-05-16 14:06] #250 closed

[2019-05-25 07:57] mubashirsaleemi opened #251 "DateTimePicker is not appearing the second time."
## Ask your Question

When I press on the input for the first time the Time Picker popup appears and let me select a time, after selecting time the time picker popup hides but when I press the input again the popup doesn't appear. why is this happening??

[2019-05-25 19:44] mmazzarolo commented on #251
Please check the issue template before submitting an issue, thanks!

[2019-05-25 19:44] #251 closed

[2019-05-26 13:22] superandrew opened #252 "using state.date with redux form."
## Ask your Question
Note: This question have been asked on stackoverflow [here](https://stackoverflow.com/questions/56308834/binding-redux-form-input-value-to-a-datetimepicker) on its redux form specificity, but as a general question I would like to understand how to "show" a date value without calling redux form's onChange or setting its value.

I am using this library with a <Input> field with

[2019-05-27 08:09] mmazzarolo commented on #252
Not sure I'm following... It has been year since the last time I used redux-form.
Why is it ending in an infinite loop?
Also, if you're using redux-form, why are you also keeping the date in the component state? 🤔

[2019-05-27 08:36] superandrew commented on #252
Ok probably this is related to my "noobieness" 😬

In redux-forms I have `input.value` which is the value provided by the form and `input.onChange` to handle the change in the control as it happens and to propagate it back to redux-forms.

The reason I used the component's state was to store the selected date so that the DateTimePicker was using that date, but probably that was a wrong experiment.

[2019-05-27 09:03] mmazzarolo commented on #252
Yes, I would suggest to stick to one "store" and follow that path. So, if you're using redux-form, I would provide to both the DateTimePicker and to the input the same value (that comes from redux) and format it accordingly.

[2019-05-27 09:32] superandrew commented on #252
this way it works, posting it on stackoverflow in case it helps anyone having the same problem understanding the flow as I did. Thanks!

[2019-05-27 09:33] #252 closed

[2019-05-29 14:54] dipanshusahu commented on #250
@mmazzarolo i also need this feature, do you have any idea or workaround to add clear button somehow?

[2019-05-30 08:57] mmazzarolo commented on #250
@dipanshusahu is it available on the native Android date/time picker?

[2019-05-30 13:44] dipanshusahu commented on #250
@mmazzarolo there's 'Context' theme for adding extra button in native android date/time picker and action can also be set on them.

[2019-05-30 14:28] mmazzarolo commented on #250
@dipanshusahu I mean in the React-Native original Android pickers.
Please see [this](https://github.com/mmazzarolo/react-native-modal-datetime-picker#the-component-is-not-working-as-expected).
Unfortunately if the original React-Native Android pickers don't support it we can't do it.

[2019-05-30 15:05] dipanshusahu commented on #250
@mmazzarolo Thanks for quick reply, I really appreciate your answers. For now i have included one clear button in my app for clearing the date field. If in future you add this functionality it would be very helpful. Again thanks a lot.

[2019-06-01 09:04] Zangetsu0 commented on #251
Any solution? Date picker not appearing second time. (Only in android), ios working fine.

[2019-06-14 08:12] pmo022 opened #253 "Setting maximumDate to null crashes android"
## Platforms
Android only

## Versions
Android
- react-native-modal-datetime-picker: v.7.4.2
- react-native: 0.59.3
- react: 16.8.6

## Description
Setting maximumDate to `null` will crash the android implementation of the datePicker.
Note that setting it to `undefined` works as it should. Component stability could be improved by doing a check in the constructor of the component.

## Reproducible

[2019-06-14 11:53] mmazzarolo commented on #253
@pmo022 thanks for reporting.
This issue is still happening with the native Android picker though, am I right?

[2019-06-14 12:41] pmo022 commented on #253
I haven't tried the native android picker - it might be.

The reason why I reported it here / considered it a bug in this library instead of checking the native implementation is that the behaviour an RN Component should be similar on android and ios given the same input. The fix should be easy, you can essentially just add `this.props.maximumDate |= undefined`  to your components constructor

[2019-06-14 13:30] mmazzarolo commented on #253
Yup, makes sense! Was just wondering if if was an error specific to this component :)

[2019-06-18 12:02] rauldeheer opened #254 "minuteInterval prop doesn't work in production"
## Environment

I'm using Expo SDK v33 with React Native 0.59.

## Platforms

This prop isn't available on Android so it is iOS only. The bug only occurs on a build tested through Testflight.

## Versions

- Android: x
- iOS: 12.3.1
- react-native-modal-datetime-picker: 7.4.2
- react-native: 0.59
- react: 16.8.3

## Description

While I'm developing and testing the app everything works fine, but i

[2019-06-18 12:03] rauldeheer commented on #56
I'm still getting this issue #254

[2019-06-18 13:56] mmazzarolo commented on #254
Hey! Thanks for reporting.
Could you please follow the issue template in its entirety?

[2019-06-23 06:38] mohan-mu opened #255 "Is there any way to Skip minute picker after selecting hour , i'm trying to limit users to choose only hour ."

[2019-06-24 08:04] seersol92 opened #256 "how to change theme colors using expo"
i want to change theme as im using expo instead of react native cli.
is there any solution??

[screenshot](http://prntscr.com/o5v0yg)

[2019-06-24 09:27] mmazzarolo commented on #255
👋 please check the README, this component is just a wrapper on the RN date/time pickers

[2019-06-24 09:27] #255 closed

[2019-06-24 09:28] #254 closed

[2019-06-24 09:29] mmazzarolo commented on #256
👋 doesn't seem to be possible without ejecting, see [this](https://forums.expo.io/t/change-color-of-android-date-picker-dialogue/23959).

[2019-06-24 09:29] #256 closed

[2019-06-25 15:49] NicoleEtLui opened #257 "Upgrade react-native-modal"
## Ask your Question

Would it be possible to relax the dependency restriction for `react-native-modal` (currently asking for version `^9.0.0`) ? We have problem here using `react-native-modal` and `react-native-modal-datetime-picker@^11` alongside (tslint screaming).

I can totally do a PR if you want, seems to be working fine with `^11`. Hope i have been clear enough in my request, my english ca

[2019-06-25 15:52] mmazzarolo commented on #257
Sure! Thanks for the PR 👍
Out of curiosity, what's tslint complaining about? 🤔

[2019-06-26 07:57] NicoleEtLui commented on #257
Yes, i would bump it to `11` with your agreement !

My bad, i said `tslint` but it's the `ts` compiler complaining:

[code]

[2019-06-27 10:12] #257 closed

[2019-06-28 06:53] jigaroza287 commented on #16
Thanks @grigored , for the try, for me, it works for the first time, but when show again after hiding it, the time interval again set back to 1 minute 🙁😕

[2019-07-11 11:36] eae-christian opened #259 "Components will be removed in ther major version"
## Environment

System:
    OS: macOS 10.14.5
  Binaries:
    Node: 10.15.3 - /usr/local/bin/node
    npm: 6.10.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
  IDEs:
    Xcode: 10.2.1/10E1001 - /usr/bin/xcodebuild
  npmPackages:
    react: 16.8.6 => 16.8.6
    react-native: 0.60.0 => 0.60.0

[2019-07-13 11:27] abodehq opened #260 "disable minutes in timepicker"
How can i disable minutes in timepicker and set it always to 00 , i want users to select only hours ??

please help.

[2019-07-13 16:53] mmazzarolo commented on #260
That's not supported, sorry.

[2019-07-13 16:53] #260 closed

[2019-07-15 16:07] emclab opened #261 "How to display selected datetime in ISO format"
## Ask your Question
I would like to display the datetime selected in ISO format like this:

       YYYY-MM-DDTHH:MM

I did not find format related property to set. Here is what I have now:

          <DateTimePicker
                isVisible={this.state.startDateTimePickerVisible}
                onConfirm={this.handleStartDatePicked}
                onCancel={this.hideStartDateTimePicker}

[2019-07-19 12:46] kishansbs commented on #261
getting this ----  Fri Jul 19 2019 20:09:00 GMT+0530 (India Standard Time)
i want to convert it into -- DD-MM-YYYY HH:mm

when i using moment.js, I am getting this warning--

[2019-07-19 17:28] MoeMamdouh commented on #210
should be of type dateObject  not stringDate like :
[code]

[2019-07-19 23:29] emclab commented on #261
When I use date.toISOString(), then the time is converted to UTC time which is offset by +7 hour compared with PDT time. Is there a way I can convert to ISO date format in PDT time? Should I use module moment or date-fns to handle this conversion?

[2019-07-19 23:31] emclab commented on #261
`kishansbs` , did you try date-fns module for conversion? You can import format only to reduce the size imjported.

[2019-07-21 14:08] mmazzarolo commented on #261
Hey @kishansbs , the Date returned from the component is a standard JS date, so you can use any library/API you want to interact with it (moment, date-fns, or even just the plain JS api)

[2019-07-21 14:08] #261 closed

[2019-07-21 14:08] mmazzarolo commented on #261
P.S.: Minute interval for android is not supported

[2019-07-21 14:09] mmazzarolo commented on #259
Thanks for reporting, it will be fixed once [this PR](https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/262) gets merged.

[2019-07-21 14:10] mmazzarolo commented on #253
Thanks for reporting, it will be fixed once [this PR](https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/262) gets merged.

[2019-07-27 05:32] rezasazesh opened #263 "Can you please explain "Before reporting a bug, try swapping react-native-datetime-picker with react-native original date/time pickers" in docs?"
## Ask your Question

[2019-07-28 07:03] 0Shift opened #264 "12 hour time picker without AM/PM?"
is there a way of creating a 12 hour time picker? or any other restricted time picker?

[2019-07-28 17:26] mmazzarolo commented on #263
Hey!
Yeah, it is explained [here](https://github.com/mmazzarolo/react-native-modal-datetime-picker#the-component-is-not-working-as-expected). Let me know if you need further info!

[2019-07-28 17:26] #263 closed

[2019-07-28 17:30] mmazzarolo commented on #264
This component supports all the [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios) and [TimePickerAndroid](https://facebook.github.io/react-native/docs/timepickerandroid) props, so you might wanna look into them... but as far as I know there's no way to restrict the picker that way.

[2019-07-28 17:30] #264 closed

[2019-07-29 16:31] idanlevi1 commented on #214
404 :(

[2019-08-01 17:49] domenbukovac commented on #245
I had the same problem and I solved it using **moment**.

`new Date('2000-01-01T20:00:00')` parses a string as UTC, but time picker will adjust it to local time. So if the local timezone is GMT+1, time picker would display **21:00**.

While moment parses the same string as local time by default.
`moment('2000-01-01T20:00:00').toDate()` on a device with GMT+1 timezone would return a date object wit

[2019-08-02 09:06] Brqqq commented on #245
Thanks for the suggestion.

One thing to consider that makes this more confusing is that V8 (so in debug mode) and JavascriptCore have different behaviors here.

`new Date('2000-01-01T20:00:00')` is actually parsed in local timezone in debug mode. This is according to the latest ECMA spec which states that the lack of timezone specifier in a date time string should mean it's parsed in local timezo

[2019-08-07 18:45] hetmann opened #265 "How to set 24 hours in iOS in one easy step"
## Suggestion

Not a question just a suggestion to maybe update the README for **"How to set 24 hours in iOS ?"**

This is working for me by just adding **locale="en_GB"**
[code]

[2019-08-08 16:05] Nemferno commented on #241
I know this is closed, but I want to give a solution for those still having the issue. You need to set the value of your visibility variable to false whenever onConfirm is invoked.

Ex:
[code]

[2019-08-13 13:41] sushant2111 commented on #178
Just add date={this.state.selectedDate} selectedDate will be last selected date.

<DateTimePicker
    isVisible={this.state.isDateTimePickerVisible}
    onConfirm={this.handleDatePicked}
    onCancel={this.hideDateTimePicker}
    date={this.state.selectedDate}
/>

[2019-08-14 08:57] pixsolution opened #267 "Add a point (.) to AM and PM and library translation"
Hi, I am using this package and it works fine for me, attached captures:

![Captura de Pantalla 2019-08-13 a la(s) 4 32 24 p  m](https://user-images.githubusercontent.com/47191848/63007637-4fc6d480-be81-11e9-87dd-28cadcfde84f.png)
![Captura de Pantalla 2019-08-13 a la(s) 4 33 03 p  m](https://user-images.githubusercontent.com/47191848/63007643-53f2f200-be81-11e9-9d27-e84c8058a17b.png)

But I need

[2019-08-14 11:32] hetmann commented on #267
@pixsolution

1. is seams that you're sending the time to the API in a format that it doesn't accept it. You need to format the string you're sending to the API.
2. use prop locale="es_ES"

[2019-08-14 19:17] mmazzarolo commented on #267
Yup, I agree with @hetmann (thanks for posting).

Regarding the first question, `react-native-modal-datetime-picker` uses the standard JS date format, so you should be able to format it manually.

[2019-08-14 19:17] #267 closed

[2019-08-14 19:18] mmazzarolo commented on #265
Ha! Thanks, wasn't aware of this! Adding it now.

[2019-08-14 19:18] #265 closed

[2019-08-14 19:53] pixsolution commented on #267
Thank you for your answers @hetmann @mmazzarolo but:
1. OK
2. The language did not work, I attached the 2 options I tried. I don't know if you see something that is not right?

`//option 1
NSLocale * locale = [[NSLocale alloc] initWithLocaleIdentifier:@"es_ES"];
   datePicker.locale = locale;
   datePicker.calender = [locale objectForKey:NSLocaleCalender];

//option 2
NSString *currentLanguage = [

[2019-08-14 22:41] Razorholt commented on #261
You also use split(). Example:

[code]

[2019-08-15 05:23] hetmann commented on #267
@pixsolution the **[locale](https://facebook.github.io/react-native/docs/datepickerios#locale)** prop is used to render the date/time based on regions, basically it will translate it to Spanish: Monday -> Lunes

The idea is that the **DateTimePicker** will give you a value and you can format that value based on your needs.

Formatting is done using libraries like this:
- **dayjs**: https://github.

[2019-08-27 08:22] theZulqarnain opened #268 "not supporting on react native web"
when I'm using it on react native web it does not support time and date picker.

[2019-08-27 09:26] mmazzarolo commented on #268
@theZulqarnain Under the hood react-native-modal-datetime-picker uses react-native original DatePickerAndroid, TimePickerAndroid and DatePickerIOS.
Do they support react-native-web?

[2019-08-29 07:23] dhananjay2011 opened #269 "iOS: Dismiss animation not work"
When I dismiss date picker in iOS, Datepicker flickering on screen.

`constructor(props) {
        super(props);
        this.state = {
            isDateTimePickerVisible: false
        };
    }

    showDateTimePicker = () => {
        this.setState({ isDateTimePickerVisible: true });
    };

    hideDateTimePicker = () => {
        this.setState({ isDateTimePickerVisible: false });
    };

[2019-09-05 10:27] DevYousef opened #270 "November 2100 default in android 4"
Hello

In android 4 the time sets to November 2100 not for the current time

![image](https://user-images.githubusercontent.com/6245163/64334243-cec2af00-cfe0-11e9-911e-304838899f24.png)

[2019-09-05 11:09] Dharmik6017 commented on #180
date={new Date()}

[2019-09-06 13:33] mmazzarolo commented on #269
Hey! Do you mind following the issue template in its entirety please? Thanks!

[2019-09-06 13:33] #269 closed

[2019-09-06 13:33] #268 closed

[2019-09-09 11:32] breadadams opened #272 "Duplicate "mode" prop in readme"
Just noticed that as of https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/271 there's a duplicate `mode` prop defined in the README (as mentioned in the PR).

The older one needs taking out right?

(sorry for removing the template 🙈)

[2019-09-09 11:45] mmazzarolo commented on #272
Ops :) thanks!

[2019-09-09 11:45] #272 closed

[2019-09-09 13:22] ajiehatajie opened #273 "why can't date date appear, and style is only a date"
## Ask your Question
why can't bring up the date picker, and style is only a date

[2019-09-12 16:42] pushkertiwari opened #274 "OnConfirm button not working, date is not changing in minutes does not change"
In IOS, somtimes onConfirm button is not working,ON select 17 and 16 min, it does not select.

[2019-09-16 11:43] zhiupping8 opened #275 "Get wrong day data"
## Description

select some days, i got the wrong day which subtract one day.
just like that i select 1986-8-14, then got 1986-8-13

[2019-09-16 15:22] FDiskas opened #276 "Migrate to community version"
Please migrate to [react-native-community/react-native-datetimepicker](https://github.com/react-native-community/react-native-datetimepicker)
to get latest updates

[2019-09-16 15:27] FDiskas opened #277 "please migrate react-native-modal to community version"
https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/9fe08bdcdf8dafe09824d773882bc72ca6b324bd/src/CustomDatePickerIOS.js#L10

migrate to https://github.com/react-native-community/react-native-modal

[2019-09-16 15:27] #277 closed

[2019-09-18 02:34] BankTP opened #278 "'countdown' mode option for iOS"
I happen to need to use countdown mode for iOS app and indeed it can pass this mode into DateTimePicker but the error occur in debugging console.
Please add props support for this mode so that the error is not printed. Thank you.

[2019-09-18 09:44] francbelak opened #279 "Translation of properties "confirm, cancel and pick a date" on iOS"
## Platforms

iOS only

## Versions

- iOS: 12.4
- react-native-modal-datetime-picker: ^7.5.0
- react-native: 0.59.2
- react: 16.8.3

## Description

Hi Matteo,

thank you very much for writing this wrapper! I would like to know if it is possible to translate the properties "confirm, cancel and pick a date" from the native iOS datepicker. I have already gone through the "locale" property https://f

[2019-09-18 20:26] shahzore-qureshi commented on #276
Warning: that new repo does not work with Expo at this time. If you are using Expo, I would suggest holding off on migrating.

[2019-09-19 09:40] ankitgauravapporio opened #280 "Background color in android"
How can we change the default color green to any other colr in android ?

[2019-09-19 14:22] arunraj-qburst opened #282 "Crashing on Android 9"
## Environment
Android: Ver 9
"react-native": "0.59.1"
"react-native-modal-datetime-picker": "^7.5.0"

## Platforms
Android only. Only from Android ver 9

## Versions
Android ver 9

"react-native-modal-datetime-picker": "^7.5.0"
- Android:9
- iOS: Working fine
- react-native-modal-datetime-picker:^7.5.0
- react-native: 0.59.1
- react:16.8.3

## Description
When the component gets rendered, the app

[2019-09-20 21:58] luisjimenezorozcoGL opened #283 "iOS 13.0 dark mode support"
System:
    OS: macOS 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 6.44 GB / 16.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 12.6.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.0, DriverKit 19.0, macOS 10.15, tvOS

[2019-09-21 16:46] mmazzarolo commented on #276
@shahzore-qureshi thanks for reporting! Do you know if the issue is already being tracked in the `react-native-datepicker` repo?

[2019-09-21 17:11] mmazzarolo commented on #279
👋 @francbelak , you can pass your own translated strings to the `cancelTextIOS`, `confirmTextIOS` and `titleIOS` props.

[2019-09-21 17:11] #279 closed

[2019-09-21 17:11] #276 closed

[2019-09-21 17:13] mmazzarolo commented on #280
👋 Please see [these discussions](https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues?utf8=%E2%9C%93&q=color)

[2019-09-21 17:13] #280 closed

[2019-09-21 17:15] mmazzarolo commented on #275
👋 @zhiupping8 please follow the issue template before submitting an issue, thanks!

[2019-09-21 17:15] #275 closed

[2019-09-21 17:16] mmazzarolo commented on #274
👋 @pushkertiwari  please follow the issue template before submitting an issue, thanks!

[2019-09-21 17:16] #274 closed

[2019-09-21 17:16] mmazzarolo commented on #273
👋 @ajiehatajie  please follow the issue template before submitting an issue/question, thanks!

[2019-09-21 17:16] #273 closed

[2019-09-22 09:08] mmazzarolo commented on #282
👋 @arunraj-qburst please provide a reproducible example, Android 9 is working fine from the example dir:
<img width="571" alt="Screenshot 2019-09-22 at 11 08 11" src="https://user-images.githubusercontent.com/9536354/65384982-4acf2d80-dd29-11e9-8345-d7cd466177a6.png">

[2019-09-22 09:08] #282 closed

[2019-09-22 09:09] mmazzarolo commented on #283
@luisjimenezorozcoGL have you tried it on the original react-native pickers? (See the issue template)

[2019-09-22 09:11] mmazzarolo commented on #278
@BankTP what error? Do you mean the yellow warning (because the prop is not valid)?

[2019-09-22 18:59] arjunnaha commented on #283
I believe this is a dark mode/light mode issue. While the dates look empty, you can feel the haptic response when scrolling, and switching to light mode brings up the dates again.

[2019-09-22 19:10] mmazzarolo commented on #283
@arjunnaha thanks for reporting! I can't test it on iOS13 yet, but I guess this is more of a react-native picker issue than one specific to this current.
It would also be interesting knowing if the community [`react-native-datetimepicker`](https://github.com/react-native-community/react-native-datetimepicker) solves the issue (#276)
I'm leaving the issue open.

[2019-09-23 05:27] shahzore-qureshi commented on #276
Hi mmazzarolo. Not yet. However, I will go ahead and do so!

[2019-09-23 07:32] arunraj-qburst commented on #282
This issue is happening only if we set the mode as  " mode={'datetime'}"
Also the start and end time has created based on user specific timezone (not just new Date())
------------------------
Code:
[code]
------------------------
Date calculation:
`new Date(DateFormatter.convertUtcToUserTz(minDateInUTC))`

------------------------
Current behaviour:

1. iOS: Start and end dates are not setting on

[2019-09-23 07:58] RuslanShlinchak commented on #283
@arjunnaha
I also managed to reproduce this problem on dark theme

[2019-09-23 08:31] mohamedabusrea commented on #283
in Dark theme, the text color will be white so it won't be visible with the container white box.

[2019-09-23 09:29] mmazzarolo commented on #270
👋 @DevYousef could you please follow the issue template for this? Thanks!

[2019-09-24 02:24] fgagneten opened #287 "datePickerModeAndroid="calendar" not working at least in API 24"
System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
    Memory: 2.04 GB / 15.88 GB
  Binaries:
    Node: 8.11.1
    Yarn: 1.12.3
    npm: 6.1.0
  SDKs:
    Android SDK:
      Android NDK: 16.1.4479499
  IDEs:
    Android Studio: Version  3.5.0.0 AI-191.8026.42.35.5791312

## Platforms

Android
## Versions

- Android: Simulator 7.0 API 24
- react-native-modal-dateti

[2019-09-24 08:36] mmazzarolo commented on #287
@fgagneten 👋  thanks for submitting this issue!

Question: does the `calendar` setting work correctly with the standard `DatePickerAndroid` API?
 I'm asking because from a quick check it looks like [we're supplying the `datePickerModeAndroid` prop directly to the `DatePickerAndroid`'s `mode` setting](https://github.com/mmazzarolo/react-native-modal-datetime-picker/blob/1a72552ed17fc9987228a1c7291f

[2019-09-24 11:42] fgagneten commented on #287
There is a migration from DatePickerAndroid to DateTimePicker. Doe it has something related to the issue? I didn't give DatePickerAndroid a try to know if the issue is related with the library or React Native

https://github.com/react-native-community/react-native-datetimepicker#react-native-datetimepicker

[2019-09-24 11:52] mmazzarolo commented on #287
Could you give it a try?

`react-native-modal-datetime-picker` is still using the `react-native` APIs under the hood.
A migration to the new community module is being worked on #262

[2019-09-24 16:47] PaitoAnderson commented on #283
Just a workaround, but I added this to the `Info.plist` to disable dark mode for now:
[code]

[2019-09-24 17:26] mmazzarolo commented on #283
@PaitoAnderson you might wanna try #288

[2019-09-25 09:45] emildancescu commented on #283
I've tried it, but for some reason even explicitly setting isDarkModeEnabled={true} does not work. The background is still white.

[2019-09-25 09:47] mmazzarolo commented on #283
@emildancescu you sure the new version was being picked up by react-native? (you can check it directly in `node_modules`).
That's weird, setting `isDarkModeEnabled={true}` in the example works for me.

[2019-09-25 11:12] fgagneten commented on #287
Yes, of course. I did it. It is not related to this library. However, it would great considering a workaround to solve this problem and make it transparent for us. Probably using some style or a custom class using native code.
Thanks

[2019-09-25 11:37] mmazzarolo commented on #287
@fgagneten gotcha, thanks for reporting.

I'm sorry but it's out of the scope of this library 😞
In `react-native-modal-datetime-picker` we won't mess around with native code.
The issue should solved directly on the library that handles the picker (which can be `react-native` or the `@react-native-community/react-native-datetimepicker`).
If you know a solution for the issue at native level I would

[2019-09-25 11:37] #287 closed

[2019-09-25 16:51] #278 closed

[2019-09-25 21:49] emildancescu commented on #283
@mmazzarolo yes, I checked node_modules before writing; I've checked the implementation and I saw nothing wrong. I'll see what I can do.

[2019-09-25 22:26] mmazzarolo commented on #283
@emildancescu now the PR is released on npm

[2019-09-25 22:53] emildancescu commented on #283
![IMG_4844](https://user-images.githubusercontent.com/2664205/65645461-42fcdb00-e000-11e9-8dd9-5af1bf5d517f.png)
I'm running the app with the Expo client.

[2019-09-27 16:42] Asmatchd commented on #105
Instead of `DatePickerModeAndroid= 'spinner'` use `timePickerModeAndroid= 'spinner'` worked for me.

[2019-09-27 16:47] Asmatchd commented on #105
@mmazzarolo  please add ` timePickerModeAndroid= 'spinner' ` in your documentation old-fashioned TimePickerDialog.

[2019-09-27 16:49] Asmatchd commented on #105
@johngoren  Instead of ` datePickerModeAndroid= 'spinner' `use
` timePickerModeAndroid= 'spinner' ` worked for me.

[2019-10-01 03:39] rxhivzero commented on #283
Now there is the same problem in version 7.6

[2019-10-01 04:44] rxhivzero commented on #283
I use appearance fix this

import { Appearance } from 'react-native-appearance'

const colorScheme = Appearance.getColorScheme()
const isDarkModeEnabled = colorScheme === 'dark'

<DateTimePicker
 isDarkModeEnabled={isDarkModeEnabled}
/>

[2019-10-01 12:06] mmazzarolo commented on #283
🎈 https://github.com/mmazzarolo/react-native-modal-datetime-picker#is-the-ios-dark-mode-supported

[2019-10-01 12:06] #283 closed

[2019-10-02 16:15] Thomazella opened #292 "DatePickerIOS moving to @react-native-community"
## Environment

info Fetching system and libraries information...
System:
    OS: macOS Mojave 10.14.6
    CPU: (6) x64 Intel(R) Core(TM) i5-9600K CPU @ 3.70GHz
    Memory: 61.37 MB / 16.00 GB
    Shell: 5.7.1 - /usr/local/bin/zsh
  Binaries:
    Node: 12.11.1 - ~/.nvm/versions/node/v12.11.1/bin/node
    Yarn: 1.19.0 - /usr/local/bin/yarn
    npm: 6.11.3 - ~/.nvm/versions/node/v12.11.1/bin/npm

[2019-10-02 16:29] mmazzarolo commented on #292
https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/262

[2019-10-02 17:22] Thomazella commented on #292
Great! :)

Sent from my iPhone

[2019-10-03 13:42] EdmundMai opened #293 "Dates are not showing on iOS"
## Environment

[code]

## Platforms

iOS

## Versions

- Android:
- iOS: 13.1.1
- react-native-modal-datetime-picker: ^7.5.0
- react-native: Using expo: https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz
- react: 16.8.3

## Description

![image](https://user-images.githubusercontent.com/1857068/66131425-5cb8a680-e62e-11e9-9726-902b5d09f95c.png)

![image](https://user-images.githubuser

[2019-10-03 13:44] EdmundMai commented on #293
This is happening on a iPhone 7 by the way

[2019-10-03 13:49] mmazzarolo commented on #293
@EdmundMai thanks for reporting. This seems somewhat related to https://github.com/mmazzarolo/react-native-modal-datetime-picker/issues/283 .
I guess it's just in Expo? Not sure why though...
Do you mind checking if https://github.com/mmazzarolo/react-native-modal-datetime-picker/pull/262 fixes your issue?

[2019-10-03 14:05] EdmundMai commented on #293
@mmazzarolo I think it could be the dark mode stuff! That person's screenshot looks the same. I'll take a look at it

[2019-10-03 14:14] mmazzarolo commented on #293
@EdmundMai did you recently update Expo? I don't get what started causing this issue, if it is a change on our side or something different happening on Expo 🤔

[2019-10-03 14:18] mmazzarolo commented on #293
Might be related: https://github.com/facebook/react-native/issues/26299

[2019-10-03 14:50] EdmundMai commented on #293
These instructions worked: https://github.com/mmazzarolo/react-native-modal-datetime-picker#is-the-ios-dark-mode-supported

Thanks a lot for the help!

[2019-10-03 14:50] #293 closed

[2019-10-03 14:51] mmazzarolo commented on #293
Glad it worked!

[2019-10-09 15:45] pedroomedicina opened #294 "Can't see dates in iOS"
## Environment
Expo (?)

## Platforms

iOs

## Versions

- Android: 9
- iOS: 12
- react-native-modal-datetime-picker: 7.6.0
- react-native: Expo sdk 34.0
- react: 16.8.3

## Description

Opening a datetimepicker will show me the modal on both android and iOS, but in iOS i'm not able to see dates nor hours to pick. have been developing a project for two months without a single issue and today I wan

[2019-10-09 15:57] mmazzarolo commented on #294
@pedroomedicina hi! 👋

This is probably related to the iOS dark mode support.
Please see the [README](https://github.com/mmazzarolo/react-native-modal-datetime-picker#i-cant-see-the-picker-on-ios--the-picker-is-white-on-ios) and the other related issues:
- #293
- #283

[2019-10-09 15:57] #294 closed

[2019-10-15 12:12] alexstoyanov opened #296 "Dates and months not visible"
react: 16.8.6 => 16.8.6
      react-native: ^0.59.3 => 0.59.10

iOS 13.1.2

- iOS:
- react-native-modal-datetime-picker:

## Description
I have been using react-native-modal-datetime-picker for a long time without any problem. But now I got a problem with the date picker. The dates and months are not visible. I am attaching a screenshot of the issue.

## Reproducible Demo
`
import React, {Componen